$def with (tData)
<div class="main-content">
		<div class="container-fluid">
			<div class="pos-ser">
				<div class="position">
					<a href="/">首页</a>/<span>数据库管理</span>
				</div>
				<div class="search">
					<form target="hid" onsubmit='getData(1,$$("#SearchValue").prop("value"))'>
						<input type="text" id="SearchValue" class="ser-text" placeholder="搜索数据库" />
						<button type="button" class="ser-sub"onclick='getData(1,$$("#SearchValue").prop("value"))'></button>
					</form>
					<iframe name='hid' id="hid" style="display:none"></iframe>
				</div>
			</div>
			<div class="safe">
					<button onclick="DataAdd(0)" title="添加数据库" class="btn btn-success btn-sm" type="button" style="margin-right: 5px;">添加数据库</button>
					<button onclick="DataSetuppwd(0)" title="设置管理员密码" class="btn btn-default btn-sm" type="button" style="margin-right: 5px;">root密码</button>
					<button onclick="AdminDatabase('','root','$tData['mysql_root']')" title="打开phpMyadmin" class="btn btn-default btn-sm" type="button" style="margin-right: 5px;">phpMyAdmin</button>
					<div class="divtable">
						<table class="table table-hover" width="100%" border="0" cellpadding="0" cellspacing="0">
							<thead>
							<tr>
								<th width='30px'><input type="checkbox" id="setBox"></th>
                                <th>数据库名</th>
                                <th>用户名</th>
                                <th width="15%">密码</th>
                                <th>打包文件</th>
                                <th width="15%">备注</th>
                                <th width="150px" class="text-right">操作</th>
							</tr>
							</thead>
							<tbody id="DataBody"></tbody>
						</table>
						<div class="dataTables_paginate paging_bootstrap pagination">
							<span class="sync" onclick="SyncToDatabases(1)" title="将选中数据库同步到服务器">同步选中</span>
							<span class="sync" onclick="SyncToDatabases(0)" title="将所有数据库同步到服务器">同步所有</span>
							<span class="sync" onclick="SyncGetDatabases()">从服务器获取</span>
							<ul id="DataPage" class="page"></ul>
						</div>
					</div>
			</div>
			<form id="toPHPMyAdmin" action="$web.ctx.session.phpmyadminDir/index.php" method="post" style="display: none;"  target="_blank">
				<input type="text" name="pma_username" id="pma_username" value="" />
				<input type="password" name="pma_password" id="pma_password" value="" />
				<input type="text" name="db" id="db" value="" />
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	setCookie('backup_path',"$web.ctx.session.config['backup_path']");
</script>
<script type="text/javascript" src="/static/js/data.js"></script>	
<script type="text/javascript">
	$if not tData['isSetup']:
		layer.msg('请先安装MySQL数据库！<a href="/soft#i" style="color:#20a53a;float: right;">去安装</a>',{icon:7,shade: [0.3, '#000'],time:0});
		$$(".layui-layer-shade").css("margin-left","180px");
	setTimeout(function(){
		getData(1);
	},300);	
</script>
<script src="/static/js/upload.js?1.2"></script>