$def with (content)
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>宝塔Linux面板</title>
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link href="/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/jquery.mCustomScrollbar.css" rel="stylesheet">
		<link href="/css/reset.css" rel="stylesheet">
		<link href="/css/site.css?" rel="stylesheet">
		<link href="/css/file.css?" rel="stylesheet">
		<script src="/js/jquery-1.10.2.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="/layer/layer.js"></script>
		<script src="/js/zun.js?"></script>
	</head>
	<body>
		<div class="bt-warp">
			<div class="header">
				<div class="logo pull-left">
					<img src="/images/logo.png" alt="宝塔">
					<span>宝塔</span>
				</div>
				<ul class="menu pull-right">
					<li><a href="http://jq.qq.com/?_wv=1027&amp;k=2KHkeeJ" target="_blank">意见反馈</a></li>
					<li><a href="http://www.bt.cn/help" target="_blank">帮助中心</a></li>
					<li><a href="javascript:setPassword();" title="修改用户密码">密码</a></li>
					<li><a href="/login.php?dologin"><i class="icon-bell-off"></i><em>退出</em></a></li>
				</ul>
			</div>
			<div id="container" class="container-fluid">
				<div class="sidebar-scroll">
					<h3 class="mypcip" onclick="location='index.php'"><i class="icon-book"></i><span>服务器IP</span></h3>
					<ul class="sub">
						<li class="<?php echo GetHover('/index.php'); ?>"> <a class="menu_home" href="/index.php">服务器状态</a></li>
						<li class="<?php echo GetHover('/site.php'); ?>"><a class="menu_web" href="/site.php">网站</a></li>
						<li class="<?php echo GetHover('/ftp.php'); ?>"><a class="menu_ftp" href="/ftp.php">FTP</a></li>
						<li class="<?php echo GetHover('/database.php'); ?>"><a class="menu_data" href="/database.php">数据库</a></li>
						<li class="<?php echo GetHover('/firewall.php'); ?>"><a class="menu_firewall" href="/firewall.php">系统安全</a></li>
						<li class="<?php echo GetHover('/crontab.php'); ?>"><a class="menu_day" href="/crontab.php">计划任务</a></li>
						<li class="<?php echo GetHover('/files.php'); ?>"><a class="menu_folder" href="/files.php">文件管理</a></li>
						<li class="<?php echo GetHover('/config.php'); ?>"><a class="menu_set" href="/config.php">环境设置</a></li>
						<li><a class="menu_exit" href="javascript:;" id="dologin">退出面板</a></li>
					</ul>
				</div>
				$:content
				<div class="footer">宝塔Linux面板  ©2014-2016 宝塔(bt.cn)<a style="margin-left:20px;color:#20a53a;" href="http://www.bt.cn/bbs" target="_blank">问题求助|产品建议请上宝塔论坛</a></div></div>
				<script>
					var W_window = $$(window).width();
					if(W_window <= 980){
						$$(window).scroll(function (){
							var top = $$(window).scrollTop();
							$$(".sidebar-scroll").css({"position":"absolute","top":top});
						})
					}
					else{
						$$(".sidebar-scroll").css({"position":"fixed","top":"0"});
					}
					$$(function(){
						$$(".fb-ico").hover(function(){
							$$(".fb-text").css({"left":"36px","top":0,"width":"80px"})
						},function(){
							$$(".fb-text").css({"left":0,"width":"36px"})
						}).click(function(){
							$$(".fb-text").css({"left":0,"width":"36px"});
							$$(".zun-feedback-suggestion").show();
						});
						$$(".fb-close").click(function(){
							$$(".zun-feedback-suggestion").hide();
						});
						$$(".fb-attitudes li").click(function(){
							$$(this).addClass("fb-selected").siblings().removeClass("fb-selected");
						});
					});
					
					$$("#dologin").click(function(){
						layer.confirm('您真的要退出面板吗?',{icon:3},function(){
							window.location.href = '/login.php?dologin';
						});
						return false;
					});
					
					
					function setPassword(to){
						if(to == 1){
							p1 = $$("#p1").val();
							p2 = $$("#p2").val();
							if(p1 == '' || p1.length < 6){
								layer.msg('新密码为空或少于6位!',{icon:2});
								return;
							}
							if(p1 != p2){
								layer.msg('两次输入的密码不一致',{icon:2});
								return;
							}
							
							$$.post('/index.php?action=setPassword','password1='+p1+'&password2='+p2,function(rdata){
								if(rdata.status){
									layer.closeAll();
									layer.msg(rdata.msg,{icon:1});
								}else{
									layer.msg(rdata.msg,{icon:2});
								}
							})
							return;
						}
					
						layer.open({
							type: 1,
								area: '290px',
								title: '修改密码',
								closeBtn: 2,
								shift: 5,
								shadeClose: false,
								content: "<div class='zun-form-new'>\
										<div class='line'>\
										<label><span>密码</span></label>\
										<div class='info-r'><input type='password' name='password1' id='p1' value='' placeholder='新的密码'/></div></div>\
										<div class='line'>\
										<label><span>重复</span></label>\
										<div class='info-r'><input type='password' name='password2' id='p2' value='' placeholder='再输一次'/></div></div>\
										<div class='submit-btn'><button type='button' class='btn btn-danger btn-sm' onclick=\"layer.closeAll()\">取消</button>\
										<button type='button' class='btn btn-success btn-sm' onclick=\"setPassword(1)\">修改</button></div>\
									</div>"
						});
					}
				</script>
			</div>
		</div>
	</body>
</html>