$def with (tData)
<div class="main-content">
			<div class="container-fluid">
				<div class="pos-ser">
					<div class="position">
						<a href="/">首页</a>/<span>网站管理</span>
					</div>
					<div class="search">
						<form target="hid" onsubmit='getWeb(1,$$("#SearchValue").prop("value"))'>
							<input type="text" id="SearchValue" class="ser-text" placeholder="搜索网站"/>
							<button type="button" class="ser-sub"onclick='getWeb(1,$$("#SearchValue").prop("value"))'></button>
						</form>
						<iframe name='hid' id="hid" style="display:none"></iframe>
					</div>
				</div>
				<div class="safe">
					<div class="important-title">
						<p><span class="glyphicon glyphicon-alert" style="color: #f39c12; margin-right: 10px;"></span> 使用$web.ctx.session.brand$web.ctx.session.product创建站点时会自动创建权限配置，统一使用www用户。</p>
					</div>

					<button onclick="webAdd(0)" class="btn btn-success btn-sm btn-title" type="button">添加站点</button>
					<div class="divtable">
						<table class="table table-hover" width="100%" border="0" cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th width="30" style="display:none"><input type="checkbox" id="setBox"></th>
									<th>域名</th>
									<th>网站状态</th>
									<th>备份</th>
									<!--<th>到期日期</th>-->
									<th>网站目录</th>
									<th width="15%">备注</th>
									<th width='80'>操作</th>
								</tr>
							</thead>
							<tbody id="webBody"></tbody>
						</table>
						<div class="dataTables_paginate paging_bootstrap pagination">
							<ul id="webPage" class="page"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<script type="text/javascript" src="/static/js/ftp.js?$web.ctx.session.version"></script>
		<script type="text/javascript" src="/static/js/web.js?$web.ctx.session.version"></script>
		<script type="text/javascript">
		$if not tData['isSetup']:
			layer.msg('请先安装Web服务器！<a href="/soft" style="color:#20a53a; float: right;">去安装</a>',{icon:7,shade: [0.3, '#000'],time:0});
			$$(".layui-layer-shade").css("margin-left","180px");
		
		getWeb(1);
		setCookie('serverType','$web.ctx.session.webserver');
		//设置默认文档
		function SetIndex(id){
			var quanju = (id==undefined)?"全局设置":"本站";
			var data=id==undefined?"":"id="+id;
			$$.get('/site?action=GetIndex',data,function(rdata){
				rdata= rdata.replace(new RegExp(/(,)/g), "\n");
				layer.open({
						type: 1,
						area: '500px',
						title: '设置网站默认文档',
						closeBtn: 2,
						shift: 5,
						shadeClose: true,
						content:"<form class='zun-form-new' id='SetIndex'><div class='SetIndex'>"
						+"<div class='line'>"
						+"	<label><span style='padding-right:2px'>默认文档</span></label>"
						+"	<div class='info-r'>"
						+"		<textarea id='Dindex' name='files' style='line-height:20px'>"+rdata+"</textarea>"
						+"		<p>"+quanju+"默认文档，每行一个，优先级由上至下。</p>"
						+"	</div>"
						+"</div>"
						+"<div class='submit-btn' style='margin-top:15px'>"
						+"	<button type='button' id='web_end_time' class='btn btn-danger btn-sm btn-title' onclick='layer.closeAll()'>取消</button>"
					    +"    <button type='button' class='btn btn-success btn-sm btn-title' onclick='SetIndexList("+id+")'>确定</button>"
				        +"</div>"
						+"</div></form>"
				});
			});
		}
		
		function SetIndexList(id){
			var Dindex = $$("#Dindex").val().replace(new RegExp(/(\n)/g), ",");
			if(id==undefined){
				var data="id=&Index="+Dindex;
			}
			else{
				var data="id="+id+"&Index="+Dindex;
			}
			var loadT= layer.load(2);
			$$.post('/site?action=SetIndex',data,function(rdata){
				layer.close(loadT);
				var ico = rdata.status? 1:5;
				layer.msg(rdata.msg,{icon:ico});
			});
		}


		
		/*站点修改*/
		function webEdit(id,website,endTime,addtime){
			var system = "{$$Think.session.system}";
			var eMenu = '';
			eMenu = "<p onclick='DirBinding("+id+")'>子目录绑定</p>"
			+"<p onclick='webPathEdit("+id+")'>网站目录</p>"
			+"<p onclick='limitNet("+id+")'>流量限制</p>"
			+"<p onclick=\"Rewrite('"+website+"')\">伪静态</p>"
			+"<p onclick='SetIndexEdit("+id+")'>默认文档</p>"
			+"<p onclick=\"ConfigFile('"+website+"')\">配置文件</p>"
			+"<p onclick=\"SetSSL('"+website+"')\">SSL</p>"
			+"<p onclick=\"PHPVersion('"+website+"')\">站点环境</p>"
			+"<p onclick=\"To301('"+website+"')\">301重定向</p>"
			+"<p onclick=\"Proxy('"+website+"')\">反向代理</p>";
			layer.open({
				type: 1,
				area: '600px',
				title: '站点修改['+website+']  --  添加时间['+addtime+']',
				closeBtn: 2,
				shift: 0,
				content: "<div class='webEdit'>"
					+"<div class='webEdit-menu'>"
					+"	<p class='active'  onclick=\"DomainEdit(" + id + ",'" + website + "')\">域名管理</p>"
					+"	"+eMenu+""
					+"</div>"
					+"<div id='webEdit-con' class='webEdit-box webEdit-con'></div>"
					+"</div>"
			});
			DomainEdit(id,website);
			//域名输入提示
			var placeholder = "<div class='placeholder'>每行填写一个域名<br>默认为80端口<br>如另加端口格式为 www.zun.com:88</div>";
			$$('#newdomain').after(placeholder);
			$$(".placeholder").click(function(){
				$$(this).hide();
				$$('#newdomain').focus();
			});
			$$('#newdomain').focus(function() {
			    $$(".placeholder").hide();
			});
			
			$$('#newdomain').blur(function() {
				if($$(this).val().length==0){
					$$(".placeholder").show();
				}  
			});
			//切换
			var $$p = $$(".webEdit-menu p");
			$$p.click(function(){
				$$(this).addClass("active").siblings().removeClass("active");
			});
		}
		
		
		//流量限制
		function limitNet(id){
			$$.post('site?action=GetLimitNet&id='+id,function(rdata){
				var status_selected = rdata.perserver != 0?'checked':'';
				if(rdata.perserver == 0){
					rdata.perserver = 200;
					rdata.perip = 20;
					rdata.limit_rate = 512;
				}
				var limitList = "<option value='1'>论坛/博客</option>"
								+"<option value='2'>图片站</option>"
								+"<option value='3'>下载站</option>"
								+"<option value='4'>商城</option>"
								+"<option value='5'>门户</option>"
								+"<option value='6'>企业站</option>"
								+"<option value='7'>视频站</option>"
				var body = "<div class='dirBinding flow'>"
						+'<p><label style="font-weight:normal"><input type="checkbox" name="status" '+status_selected+' onclick="SaveLimitNet('+id+')" style="width:15px;height:15px;margin-right:5px" />启用流量控制</label></p>'
						+"<p><span class='span_tit'>限制方案：</span><select name='limit' style='width:90px'>"+limitList+"</select></p>"
					    +"<p><span class='span_tit'>并发限制：</span><input style='width: 90px;' type='number' name='perserver' value='"+rdata.perserver+"' />  *限制当前站点最大并发数</p>"
					    +"<p><span class='span_tit'>单IP限制：</span><input style='width: 90px;' type='number' name='perip' value='"+rdata.perip+"' />  *限制单个IP访问最大并发数</p>"
					    +"<p><span class='span_tit'>流量限制：</span><input style='width: 90px;' type='number' name='limit_rate' value='"+rdata.limit_rate+"' />   *限制每个请求的流量上限（单位：KB）</p>"
					    +"<button class='btn btn-success btn-sm' onclick='SaveLimitNet("+id+",1)' style='margin-top:8px; margin-left:3px'>保存</button>"
					    +"</div>"
					$$("#webEdit-con").html(body);
					
					$$("select[name='limit']").change(function(){
						var type = $$(this).val();
						var perserver = 200;
						var perip = 20;
						var limit_rate = 512;
						switch(type){
							case '1':
								perserver = 300;
								perip = 25;
								limit_rate = 320;
								break;
							case '2':
								perserver = 200;
								perip = 10;
								limit_rate = 1024;
								break;
							case '3':
								perserver = 50;
								perip = 3;
								limit_rate = 2048;
								break;
							case '4':
								perserver = 500;
								perip = 10;
								limit_rate = 2048;
								break;
							case '5':
								perserver = 400;
								perip = 15;
								limit_rate = 1024;
								break;
							case '6':
								perserver = 50;
								perip = 10;
								limit_rate = 512;
								break;
							case '7':
								perserver = 150;
								perip = 4;
								limit_rate = 1024;
								break;
						}
						
						$$("input[name='perserver']").val(perserver);
						$$("input[name='perip']").val(perip);
						$$("input[name='limit_rate']").val(limit_rate);
					});
			});
		}
		
		
		//保存流量限制配置
		function SaveLimitNet(id,type){
			var isChecked = $$("input[name='status']").attr('checked');
			if(isChecked == undefined || type == 1){
				var data = 'id='+id+'&perserver='+$$("input[name='perserver']").val()+'&perip='+$$("input[name='perip']").val()+'&limit_rate='+$$("input[name='limit_rate']").val();
				var loadT = layer.msg('正在设置...',{icon:16,time:10000})
				$$.post('site?action=SetLimitNet',data,function(rdata){
					layer.close(loadT);
					limitNet(id);
					layer.msg(rdata.msg,{icon:rdata.status?1:2});
				});
			}else{
				var loadT = layer.msg('正在设置...',{icon:16,time:10000})
				$$.post('site?action=CloseLimitNet&id='+id,function(rdata){
					layer.close(loadT);
					limitNet(id);
					layer.msg(rdata.msg,{icon:rdata.status?1:2});
				});
			}
		}
		
		
		//子目录绑定
		function DirBinding(id){
			$$.post('/site?action=GetDirBinding&id='+id,function(rdata){
				var echoHtml = '';
				for(var i=0;i<rdata.binding.length;i++){
					echoHtml += "<tr><td>"+rdata.binding[i].domain+"</td><td>"+rdata.binding[i].port+"</td><td>"+rdata.binding[i].path+"</td><td class='text-right'><a class='link' href='javascript:SetDirRewrite("+rdata.binding[i].id+");'>伪静态</a> | <a class='link' href='javascript:DelBinding("+rdata.binding[i].id+","+id+");'>删除</a></td></tr>";
				}
				
				var dirList = '';
				for(var n=0;n<rdata.dirs.length;n++){
					dirList += "<option value='"+rdata.dirs[n]+"'>"+rdata.dirs[n]+"</option>";
				}
				
				var body = "<div class='dirBinding'>"
					   +"域名：<input type='text' name='domain' />"
					   +"子目录：<select name='dirName'>"+dirList+"</select>"
					   +"<button class='btn btn-success btn-sm' onclick='AddDirBinding("+id+")'>添加</button>"
					   +"</div>"
					   +"<div class='divtable' style='width:96%;margin:0 auto'><table class='table table-hover' width='100%' style='margin-bottom:0'>"
					   +"<thead><tr><th>域名</th><th width='70'>端口</th><th width='100'>子目录</th><th width='100' class='text-right'>操作</th></tr></thead>"
					   +"<tbody id='checkDomain'>" + echoHtml + "</tbody>"
					   +"</table></div>"
				
				$$("#webEdit-con").html(body);
			})
			
		}
		
		//子目录伪静态
		function SetDirRewrite(id){
			$$.post('/site?action=GetDirRewrite&id='+id,function(rdata){
				if(!rdata.status){
					var confirmObj = layer.confirm('你真的要为这个子目录创建独立的伪静态规则吗？',{closeBtn:2},function(){
						$$.post('/site?action=GetDirRewrite&id='+id+'&add=1',function(rdata){
							layer.close(confirmObj);
							ShowRewrite(rdata);
						});
					});
					return;
				}
				ShowRewrite(rdata);
			});
		}
		
		//显示伪静态
		function ShowRewrite(rdata){
			var rList = ''; 
			for(var i=0;i<rdata.rlist.length;i++){
				rList += "<option value='"+rdata.rlist[i]+"'>"+rdata.rlist[i]+"</option>";
			}
			var webBakHtml = "<div class='webEdit-box padding-10'>\
								<div class='line'>\
								<select id='myRewrite' name='rewrite' style='width:30%;'>"+rList+"</select>\
								<span>规则转换工具：<a href='http://www.bt.cn/Tools' target='_blank' style='color:#20a53a'>Apache转Nginx</a>\</span>\
								<textarea style='height: 260px; width: 480px; line-height:18px;margin-top:10px;padding:5px;' id='rewriteBody'>"+rdata.data+"</textarea></div>\
								<button id='SetRewriteBtn' class='btn btn-success btn-sm' onclick=\"SetRewrite('"+rdata.filename+"')\">保存</button>\
								<p style='color:#666; margin-top:10px;'>请选择您的应用,若设置伪静态后,网站无法正常访问,请尝试设置回default<br/>您可以对伪静态规则进行修改,修改完后保存即可!</p>\
								</div>";
			layer.open({
				type: 1,
				area: '500px',
				title: '配置伪静态规则',
				closeBtn: 2,
				shift: 5,
				shadeClose: true,
				content:webBakHtml
			});
			
			$$("#myRewrite").change(function(){
				var rewriteName = $$(this).val();
				$$.post('/files?action=GetFileBody','path=$web.ctx.session.setupPath/panel/rewrite/'+getCookie('serverType')+'/'+rewriteName+'.conf',function(fileBody){
					 $$("#rewriteBody").val(fileBody.data);
				});
			});
		}
		
		//添加子目录绑定
		function AddDirBinding(id){
			var domain = $$("input[name='domain']").val();
			var dirName = $$("select[name='dirName']").val();
			if(domain == '' || dirName == '' || dirName == null){
				layer.msg('域名和子目录名称不能为空!',{icon:2});
				return;
			}
			
			var data = 'id='+id+'&domain='+domain+'&dirName='+dirName
			$$.post('site?action=AddDirBinding',data,function(rdata){
				DirBinding(id);
				layer.msg(rdata.msg,{icon:rdata.status?1:2});
			});
			
		}
		
		//删除子目录绑定
		function DelBinding(id,siteId){
			layer.confirm('您真的要删除这个子目录绑定吗？',{closeBtn:2},function(){
				$$.post('site?action=DelDirBinding','id='+id,function(rdata){
					DirBinding(siteId);
					layer.msg(rdata.msg,{icon:rdata.status?1:2});
				});
			});
		}
		
		
		//反向代理
		function Proxy(siteName,type){
			if(type == 1){
				type = $$("input[name='status']").attr('checked')?'0':'1';
				toUrl = $$("input[name='toUrl']").val();
				toDomain = $$("input[name='toDomain']").val();
				var data = 'name='+siteName+'&type='+type+'&proxyUrl='+toUrl+'&toDomain=' + toDomain;
				var loadT = layer.msg('正在处理...',{icon:16,time:0,shade: [0.3, '#000']});
				$$.post('/site?action=SetProxy',data,function(rdata){
					layer.close(loadT);
					if(rdata.status) {
						Proxy(siteName);
					}else{
						$$("input[name='status']").attr('checked',false)
					}
					layer.msg(rdata.msg,{icon:rdata.status?1:2});
				});
				return;
			}
			$$.post('/site?action=GetProxy','name='+siteName,function(rdata){
				if(rdata.proxyUrl == null) rdata.proxyUrl = '';
				var status_selected = rdata.status?'checked':'';
				var body = "<div style='margin: 10px 15px;'>"
					   +"<p style='margin-bottom:8px'><span>目标URL</span><input type='text' name='toUrl' value='"+rdata.proxyUrl+"' style='margin-left: 5px;width: 380px;height: 30px;margin-right:10px;' placeholder='请填写完整URL,例：http://www.test.com' /></p>"
					   +"<p style='margin-bottom:8px'><span>发送域名</span><input type='text' name='toDomain' value='"+rdata.toDomain+"' style='margin-left: 5px;width: 380px;height: 30px;margin-right:10px;' placeholder='发送到目标服务器的域名,例：www.test.com' /></p>"
					   +'<label style="font-weight:normal"><input type="checkbox" name="status" '+status_selected+' onclick="Proxy(\''+siteName+'\',1)" style="width:15px;height:15px;" />启用反向代理</label>'
					   +'<ul class="help-info-text">'
					   +'<li>目标Url必需是可以访问的，否则将直接502</li>'
					   +'<li>默认本站点所有域名访问将被传递到目标服务器，请确保目标服务器已绑定域名</li>'
					   +'<li>若您是被动代理，请在发送域名处填写上目标站点的域名</li>'
					   +'</ul>'
					   +"</div>";
					$$("#webEdit-con").html(body);
			});
		}
				
		//301重定向
		function To301(siteName,type){
			if(type == 1){
				type = $$("input[name='status']").attr('checked')?'0':'1';
				toUrl = $$("input[name='toUrl']").val();
				srcDomain = $$("select[name='srcDomain']").val();
				var data = 'siteName='+siteName+'&type='+type+'&toDomain='+toUrl+'&srcDomain='+srcDomain;
				$$.post('site?action=Set301Status',data,function(rdata){
					To301(siteName);
					layer.msg(rdata.msg,{icon:rdata.status?1:2});
				});
				return;
			}
			$$.post('/site?action=Get301Status','siteName='+siteName,function(rdata){
				var domain_tmp = rdata.domain.split(',');
				var domains = '';
				var selected = '';
				for(var i=0;i<domain_tmp.length;i++){
					selected = '';
					if(domain_tmp[i] == rdata.src) selected = 'selected';
					domains += "<option value='"+domain_tmp[i]+"' "+selected+">"+domain_tmp[i]+"</option>";
				}
				
				if(rdata.url == null) rdata.url = '';
				var status_selected = rdata.status?'checked':'';
				var body = "<div style='margin: 10px 15px;'>"
					   +"<p style='margin-bottom:8px'><span>访问域名</span><select name='srcDomain' style='margin-left: 5px;width: 380px;height: 30px;margin-right:10px;'><option value='all'>整站</option>"+domains+"</select></p>"
					   +"<p style='margin-bottom:8px'><span>目标URL</span><input type='text' name='toUrl' value='"+rdata.url+"' style='margin-left: 5px;width: 380px;height: 30px;margin-right:10px;' placeholder='请填写完整URL,例：http://www.test.com' /></p>"
					   +'<label style="font-weight:normal"><input type="checkbox" name="status" '+status_selected+' onclick="To301(\''+siteName+'\',1)" style="width:15px;height:15px;" />启用301</label>'
					   +'<ul class="help-info-text">'
					   +'<li>选择[整站]时请不要将目标URL设为同一站点下的域名.</li>'
					   +'<li>301重定向配置将覆盖伪静态规则，请在设置好301后，再追加伪静态规则.</li>'
					   +'</ul>'
					   +"</div>";
					$$("#webEdit-con").html(body);
			});
		}
		
		//设置SSL
		function SetSSL(siteName){
			$$.post('site?action=GetSSL','siteName='+siteName,function(rdata){
				var status_selecteda ="";
				var status_selectedb ="";
				var status_selectedc ="";
				if(rdata.key == false) rdata.key = '';
				if(rdata.csr == false) rdata.csr = '';
				switch(rdata.type){
					case -1:
						status_selecteda = "checked='checked'";
						break;
					case 1:
						status_selectedb = "checked='checked'";
						break
					case 0:
						status_selectedc = "checked='checked'";
					default:
						status_selecteda = "checked='checked'";
				}

				var mBody = '<div class="ssl-con">'
						  + '<div class="ssl-type"><label><input type="radio" name="type" value="0" '+status_selecteda+'/>关闭SSL</label><label><input type="radio" name="type" value="1" '+status_selectedb+'/>Let\'s Encrypt免费证书</label><label><input class="otherssl" name="type" type="radio" value="2" '+status_selectedc+'>使用其他证书</label></div>'
						  + '<div class="ssl-type-con"></div>'
						  + '</div>';
				var mykeyhtml = '<div class="myKeyCon"><div class="ssl-con-key">密钥(KEY)<br><textarea id="key" readonly="" style="background-color:#f6f6f6">'+rdata.key+'</textarea></div>'
							+ '<div class="ssl-con-key">证书(CRT/PEM)<br><textarea id="csr" readonly="" style="background-color:#f6f6f6">'+rdata.csr+'</textarea></div>'
							+ '<div class="ssl-btn"><button class="btn btn-success btn-sm" onclick="ChangeSaveSSL(\''+siteName+'\')">更新证书</button></div></div>'
							+ '<div class="ssl-info"><p>已为您自动生成Let\'s Encrypt免费证书；</p><p>如需使用其他SSL,请切换其他证书后粘贴您的KEY以及CRT内容，然后保存即可。</p></div>';
				
				var othersslhtml = '<div class="myKeyCon"><div class="ssl-con-key">密钥(KEY)<br><textarea id="key">'+rdata.key+'</textarea></div>'
							+ '<div class="ssl-con-key">证书(CRT/PEM)<br><textarea id="csr">'+rdata.csr+'</textarea></div>'
							+ '<div class="ssl-btn"><button class="btn btn-success btn-sm" onclick="SaveSSL(\''+siteName+'\')">保存</button></div></div>'
							+ '<div class="ssl-info"><p>粘贴您的KEY以及CRT内容，然后保存即可<a href="http://www.bt.cn/bbs/thread-704-1-1.html" target="_blank" style="color:green;">[帮助]</a>。</p></div>';
				$$("#webEdit-con").html(mBody);
				if(rdata.type == 1){
					$$(".ssl-type-con").html(mykeyhtml);
				}
				if(rdata.type == 0){
					$$(".ssl-type-con").html(othersslhtml);
				}
				$$("input[type='radio']").click(function(){
					var val = $$(this).val();
					if(val == 0){
						OcSSL('CloseSSLConf',siteName)
					}
					if(val == 1){
						OcSSL("CreateLet",siteName);
					}
					if(val == 2){
						//OcSSL("CreateLet",siteName);
						$$(".ssl-type-con").html(othersslhtml);
					}
				});
			});
		
		}
		//开启与关闭SSL
		function OcSSL(action,siteName){
			var loadT = layer.msg('正在处理,请稍候...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post("site?action="+action,'siteName='+siteName+'&updateOf=1',function(rdata){
				layer.close(loadT)
				$$.post('/system?action=ServiceAdmin','name='+getCookie('serverType')+'&type=reload',function(result){
					SetSSL(siteName);
					if(!result.status) layer.msg(result.msg,{icon:2});
				});
				layer.msg(rdata.msg,{icon:rdata.status?1:2});
			})
		}
		
		//生成SSL
		function newSSL(siteName){
			var loadT = layer.msg('正在处理,请稍候...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post('site?action=CreateLet','siteName='+siteName+'&updateOf=1',function(rdata){
				layer.close(loadT)
				$$("#key").val(rdata.key);
				$$("#csr").val(rdata.csr);
				layer.msg(rdata.msg,{icon:rdata.status?1:2});
			});
		}
		
		//保存SSL
		function SaveSSL(siteName){
			var data = 'type=1&siteName='+siteName+'&key='+encodeURIComponent($$("#key").val())+'&csr='+encodeURIComponent($$("#csr").val());
			var loadT = layer.msg('正在保存...',{icon:16,time:20000,shade: [0.3, '#000']})
			$$.post('site?action=SetSSL',data,function(rdata){
				layer.close(loadT);
				if(rdata.status){
					layer.msg(rdata.msg,{icon:1});
				}else{
					layer.msg(rdata.msg,{icon:2,time:0,shade:0.3,shadeClose:true});
				}
			});
		}
		
		//更新SSL
		function ChangeSaveSSL(siteName){
			var loadT = layer.msg('正在处理,请稍候...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post('site?action=CreateLet','siteName='+siteName+'&updateOf=2',function(rdata){
				layer.close(loadT);
				layer.msg(rdata.msg,{icon:rdata.status?1:2});
			});
		}
		
		//PHP版本
		function PHPVersion(siteName){
			$$.post('/site?action=GetSitePHPVersion','siteName='+siteName,function(version){
				$$.post('/site?action=GetPHPVersion',function(rdata){
					var versionSelect = "<div class='webEdit-box padding-10'>\
											<div class='line'>\
												<label>选择PHP版本</label>\
												<div class='info-r'>\
													<select id='phpVersion' name='phpVersion' style='width:110px'>";
					var optionSelect = '';
					for(var i=0;i<rdata.length;i++){
						optionSelect = version.phpversion == rdata[i].version?'selected':'';
						versionSelect += "<option value='"+ rdata[i].version +"' "+ optionSelect +">"+ rdata[i].name +"</option>"
					}
					versionSelect += "</select>\
									<button class='btn btn-success btn-sm' onclick=\"SetPHPVersion('"+siteName+"')\">切换</button>\
									</div>\
								</div>\
									<ul class='help-info-text'>\
										<li>请根据您的程序需求选择版本，切换版本可能导致您的程序无法正常使用；</li>\
										<li>老版本请选择5.2或5.3，例如dedecms,ecshop；</li>\
										<li>PHP7不支持mysql扩展，默认安装mysqli以及mysql-pdo。</li>\
									</ul>\
								</div>\
							</div>";
					if(version.tomcatversion){
						var tomcat_checked = '';
						if(version.tomcat != -1) tomcat_checked = 'checked';
						versionSelect += '<div class="webEdit-box padding-10">\
											<div class="linex">\
												<label style="font-weight:normal">\
													<input type="checkbox" name="status"  onclick="Tomcat(\''+siteName+'\')" style="width:15px;height:15px;" '+tomcat_checked+' />启用Tomcat\
												</label>\
											</div>\
												<ul class="help-info-text">\
											<li>当前版本为Tomcat '+version.tomcatversion+',若您需要其它版本,请到软件管理 - 所有软件 中切换；</li>\
											<li>Tomcat可以与PHP共存,但无法与Node.js共存；</li>\
											<li>若您的tomcat应用中有php脚本,访问时请添加.php扩展名</li>\
											<li>开启成功后,大概需要1分钟时间生效!</li>\
										</ul>\
										</div>'
					}
					if(version.nodejsversion){
						var nodejs_checked = '';
						if(version.nodejs != -1) nodejs_checked = 'checked';
						versionSelect += '<div class="webEdit-box padding-10">\
											<div class="linex">\
												<label style="font-weight:normal">\
													<input type="checkbox" name="status"  onclick="Nodejs(\''+siteName+'\')" style="width:15px;height:15px;" '+nodejs_checked+' />启用Node.js\
												</label>\
											</div>\
												<ul class="help-info-text">\
											<li>当前版本为Node.js '+version.nodejsversion+'；</li>\
											<li>Node.js可以与PHP共存,但无法与Tomcat共存；</li>\
											<li>若您的Node.js应用中有php脚本,访问时请添加.php扩展名</li>\
										</ul>\
										</div>'
					}
					$$("#webEdit-con").html(versionSelect);
				});
			});
		}
		
		//设置Tomcat
		function Tomcat(siteName){
			var data = 'siteName='+siteName;
			var loadT = layer.msg('正在配置,请稍候...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post('/site?action=SetTomcat',data,function(rdata){
				layer.close(loadT);
				layer.msg(rdata.msg,{icon:rdata.status?1:2});
			});
		}
		
		
		//设置PHP版本
		function SetPHPVersion(siteName){
			var data = 'version='+$$("#phpVersion").val()+'&siteName='+siteName;
			var loadT = layer.msg('正在保存数据...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post('/site?action=SetPHPVersion',data,function(rdata){
				layer.close(loadT);
				layer.msg(rdata.msg,{icon:rdata.status?1:2});
			});
		}
		
		//配置文件
		function ConfigFile(webSite){
			$$.post('/files?action=GetFileBody','path=$web.ctx.session.setupPath/panel/vhost/'+getCookie('serverType')+'/'+webSite+'.conf',function(rdata){
				var mBody = "<div class='webEdit-box padding-10'>\
				<textarea style='height: 320px; width: 445px; margin-left: 20px;line-height:18px' id='configBody'>"+rdata.data+"</textarea>\
					<div class='info-r'>\
						<button id='SaveConfigFileBtn' class='btn btn-success btn-sm' style='margin-top:15px;'>保存</button>\
						<ul class='help-info-text'>\
							<li>此处为站点主配置文件,若您不了解配置规则,请勿随意修改.</li>\
						</ul>\
					</div>\
				</div>";
				$$("#webEdit-con").html(mBody);
				var editor = CodeMirror.fromTextArea(document.getElementById("configBody"), {
					extraKeys: {"Ctrl-Space": "autocomplete"},
					lineNumbers: true,
					matchBrackets:true,
				});
				$$(".CodeMirror-scroll").css({"height":"300px","margin":0,"padding":0});
				$$("#SaveConfigFileBtn").click(function(){
					$$("#configBody").empty();
					$$("#configBody").text(editor.getValue());
					SaveConfigFile(webSite,rdata.encoding);
				})
			});
		}
		
		//保存配置文件
		function SaveConfigFile(webSite,encoding){
			var data = 'encoding='+encoding+'&data='+encodeURIComponent($$("#configBody").val())+'&path=$web.ctx.session.setupPath/panel/vhost/'+getCookie('serverType')+'/'+webSite+'.conf';
			var loadT = layer.msg('正在保存数据...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post('/files?action=SaveFileBody',data,function(rdata){
				layer.close(loadT);
				if(rdata.status){
					layer.msg(rdata.msg,{icon:1});
				}else{
					layer.msg(rdata.msg,{icon:2,time:0,shade:0.3,shadeClose:true});
				}
			});
		}
		
		//伪静态
		function Rewrite(siteName){
			$$.post("/site?action=GetRewriteList&siteName="+siteName,function(rdata){
				var filename = '$web.ctx.session.setupPath/panel/vhost/rewrite/'+siteName+'.conf';
				if(getCookie('serverType') == 'apache')	filename = rdata.sitePath+'/.htaccess';
				$$.post('/files?action=GetFileBody','path='+filename,function(fileBody){
					var rList = ''; 
					for(var i=0;i<rdata.rewrite.length;i++){
						rList += "<option value='"+rdata.rewrite[i]+"'>"+rdata.rewrite[i]+"</option>";
					}
					var webBakHtml = "<div class='webEdit-box padding-10'>\
								<div class='line'>\
								<select id='myRewrite' name='rewrite' style='width:30%;'>"+rList+"</select>\
								<span>规则转换工具：<a href='http://www.bt.cn/Tools' target='_blank' style='color:#20a53a'>Apache转Nginx</a>\</span>\
								<textarea style='height: 260px; width: 480px; line-height:18px;margin-top:10px;padding:5px;' id='rewriteBody'>"+fileBody.data+"</textarea></div>\
								<button id='SetRewriteBtn' class='btn btn-success btn-sm' onclick=\"SetRewrite('"+filename+"')\">保存</button>\
								<p style='color:#666; margin-top:10px;'>请选择您的应用,若设置伪静态后,网站无法正常访问,请尝试设置回default<br/>您可以对伪静态规则进行修改,修改完后保存即可!</p>\
								</div>";
					$$("#webEdit-con").html(webBakHtml);
					
					$$("#myRewrite").change(function(){
						var rewriteName = $$(this).val();
						$$.post('/files?action=GetFileBody','path=$web.ctx.session.setupPath/panel/rewrite/'+getCookie('serverType')+'/'+rewriteName+'.conf',function(fileBody){
							 $$("#rewriteBody").val(fileBody.data);
						});
					});
				});
			});
		}
		
		
		//设置伪静态
		function SetRewrite(filename){
			var data = 'data='+encodeURIComponent($$("#rewriteBody").val())+'&path='+filename+'&encoding=utf-8';
			var loadT = layer.msg('正在保存数据...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post('/files?action=SaveFileBody',data,function(rdata){
				layer.close(loadT);
				if(rdata.status){
					layer.msg(rdata.msg,{icon:1});
				}else{
					layer.msg(rdata.msg,{icon:2,time:0,shade:0.3,shadeClose:true});
				}
			});
		}
		
	</script>