$def with (tData)
<div class="main-content">
			<div class="container-fluid">
				<div class="pos-ser">
					<div class="position">
						<a href="/">首页</a>/<span>网站管理</span>
					</div>
					<div class="search">
						<form target="hid" onsubmit='getWeb(1,$$("#SearchValue").prop("value"))'>
							<input type="text" id="SearchValue" class="ser-text" placeholder="搜索网站"/>
							<button type="button" class="ser-sub"onclick='getWeb(1,$$("#SearchValue").prop("value"))'></button>
						</form>
						<iframe name='hid' id="hid" style="display:none"></iframe>
					</div>
				</div>
				<div class="safe">
					<div class="important-title">
						<p><span class="glyphicon glyphicon-alert" style="color: #f39c12; margin-right: 10px;"></span> 使用$web.ctx.session.brand$web.ctx.session.product创建站点时会自动创建权限配置，统一使用www用户。</p>
					</div>

					<button onclick="webAdd(0)" class="btn btn-success btn-sm btn-title" type="button">添加站点</button>&nbsp;
					<button onclick="SiteDefaultPage()" class="btn btn-default btn-sm btn-title" type="button">修改默认页</button>
					<button onclick="GetDefaultSite()" class="btn btn-default btn-sm btn-title" type="button">默认站点</button>
					<div class="divtable">
						<table class="table table-hover" width="100%" border="0" cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th width="30" style="display:none"><input type="checkbox" id="setBox"></th>
									<th>域名</th>
									<th>网站状态</th>
									<th>备份</th>
									<!--<th>到期日期</th>-->
									<th>网站目录</th>
									<th width="15%">备注</th>
									<th width='80'>操作</th>
								</tr>
							</thead>
							<tbody id="webBody"></tbody>
						</table>
						<div class="dataTables_paginate paging_bootstrap pagination">
							<ul id="webPage" class="page"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<script type="text/javascript" src="/static/js/ftp.js?$web.ctx.session.version"></script>
		<script type="text/javascript" src="/static/js/site.js?$web.ctx.session.version"></script>
		<script type="text/javascript">
		$if not tData['isSetup']:
			layer.msg('请先安装Web服务器！<a href="/soft" style="color:#20a53a; float: right;">去安装</a>',{icon:7,shade: [0.3, '#000'],time:0});
			$$(".layui-layer-shade").css("margin-left","180px");
		
		setTimeout(function(){
			getWeb(1);
		},500);
		
		setCookie('serverType','$web.ctx.session.webserver');
	</script>