$def with (data)
<div class="main-content">
		<div class="container-fluid">
			<div class="pos-ser">
				<div class="position">
					<a href="/">首页</a>/<span>软件管理</span>
				</div>
			</div>
			<div class="softbox setbox">
				<div class="tab-nav">
					<span class="on">已装软件</span><span>所有软件</span><span>扩展插件</span>
				</div>
				<div class="tab-con">
					<div class="softlist">
						<div class="nosofttips"></div>
						<div class="divtable" style="margin-top:0">
							<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-hover">
								<thead>
									<tr>
										<th>安装软件</th>
										<th>安装位置</th>
										<th>配置</th>
										<th>状态</th>
										<th width="90" style="text-align: right;width: 120px;">操作</th>
									</tr>
								</thead>
								<tbody id="tjBody">
									$if data['web']['setup']:
										<tr>
											<td>$data['web']['type'] $data['web']['version'] </td>
											<td><a class="link" href="javascript:openPath('$web.ctx.session.setupPath/$data['web']['type']');">$web.ctx.session.setupPath/$data['web']['type']</a></td>
											<td><a class="link" href="javascript:GetConfigFile('$data['web']['type']');">修改</a> | 
												<a class="link" href="javascript:ServiceAdmin('$data['web']['type']','reload');">重载</a>
												$if web.ctx.session.webserver == 'nginx':
													| <a class="link" href="javascript:GetNginxStatus();">负载状态</a></td>
											</td>
											$if data['web']['status']:
												<td><span class="ico-start glyphicon glyphicon-play"></span></td>
												<td style="text-align: right;"><a class="link" href="javascript:ServiceAdmin('$data['web']['type']','stop');">停止</a></td>
											$else:
												<td><span class="ico-stop glyphicon glyphicon-stop"></span></td>
												<td style="text-align: right;"><a class="link" href="javascript:ServiceAdmin('$data['web']['type']','start');">启动</a></td>
										</tr>
									$if data['mysql']['setup']:
										<tr>
											<td>MySQL $data['mysql']['version']</td>
											<td><a class="link" href="javascript:openPath('$web.ctx.session.setupPath/mysql');">$web.ctx.session.setupPath/mysql</a></td>
											<td><a class="link" href="javascript:GetConfigFile('mysql');">修改</a> | <a class="link" href="javascript:ServiceAdmin('mysqld','reload');">重载</a></td>
											$if data['mysql']['status']:
												<td><span class="ico-start glyphicon glyphicon-play"></span></td>
											$else:
												<td><span class="ico-stop glyphicon glyphicon-stop"></span></td>
											<td style="text-align: right;"><a class="link" href="javascript:ServiceAdmin('mysqld','restart');">重启</a>
												$if not data['mysql']['status']:
													| <a class="link" href="javascript:ServiceAdmin('mysqld','start');">启动</a></td>
										</tr>
									$if data['tomcat']['setup']:
										<tr>
											<td>Tomcat $data['tomcat']['version']</td>
											<td><a class="link" href="javascript:openPath('$web.ctx.session.setupPath/tomcat');">$web.ctx.session.setupPath/tomcat</a></td>
											<td><a class="link" href="javascript:GetConfigFile('tomcat');">修改</a> | <a class="link" href="javascript:ServiceAdmin('tomcat','reload');">重载</a></td>
											$if data['tomcat']['status']:
												<td><span class="ico-start glyphicon glyphicon-play"></span></td>
											$else:
												<td><span class="ico-stop glyphicon glyphicon-stop"></span></td>
											<td style="text-align: right;"><a class="link" href="javascript:ServiceAdmin('tomcat','restart');">重启</a>
												$if not data['tomcat']['status']:
													| <a class="link" href="javascript:ServiceAdmin('tomcat','start');">启动</a></td>
										</tr>
									$if data['pure-ftpd']['setup']:
										<tr>
											<td>Pure-Ftpd $data['pure-ftpd']['version'] </td>
											<td><a class="link" href="javascript:openPath('$web.ctx.session.setupPath/pure-ftpd');">$web.ctx.session.setupPath/pure-ftpd</a></td>
											<td><a class="link" href="javascript:GetConfigFile('pure-ftpd');">修改</a> | <a class="link" href="javascript:ServiceAdmin('pure-ftpd','reload');">重载</a></td>
											$if data['pure-ftpd']['status']:
												<td><span class="ico-start glyphicon glyphicon-play"></span></td>
											$else:
												<td><span class="ico-stop glyphicon glyphicon-stop"></span></td>
											<td style="text-align: right;"><a class="link" href="javascript:ServiceAdmin('pure-ftpd','restart');">重启</a> | 
												$if data['pure-ftpd']['status']:
													<a class="link" href="javascript:ServiceAdmin('pure-ftpd','stop');">停止</a></td>
												$else:
													<a class="link" href="javascript:ServiceAdmin('pure-ftpd','start');">启动</a></td>
										</tr>
									$if data['phpmyadmin']['setup']:
										<tr>
											<td>phpMyAdmin $data['phpmyadmin']['version'] </td>
											<td><a class="link" href="javascript:openPath('$web.ctx.session.setupPath/phpmyadmin');">$web.ctx.session.setupPath/phpmyadmin</a></td>
											<td><a class="link" href="javascript:phpmyadmin('phpversion',$data['phpmyadmin']['phpversion']);">PHP版本($data['phpmyadmin']['phpversion'])</a> | <a class="link" href="javascript:phpmyadmin('port',$data['phpmyadmin']['port']);">端口($data['phpmyadmin']['port'])</a></td>
											$if data['phpmyadmin']['status']:
												<td><span class="ico-start glyphicon glyphicon-play"></span></td>
												<td style="text-align: right;">
													$if data['phpmyadmin']['auth']:
														<a class="link" href="javascript:phpmyadmin('password','close',1);">取消认证</a>
													$else:
														<a class="link" href="javascript:phpmyadmin('password');">认证</a>
													 | <a class="link" href="javascript:phpmyadmin('status','stop',1);">停用</a>
												</td>
											$else:
												<td><span class="ico-stop glyphicon glyphicon-stop"></span></td>
												<td style="text-align: right;"><a class="link" href="javascript:phpmyadmin('status','start',1);">启用</a></td>
										</tr>
									$for key in data['php']:
										<tr>
											<td>PHP版本：$key['version'] </td>
											<td><a class="link" href="javascript:openPath('$web.ctx.session.setupPath/php/$key['version']');">$web.ctx.session.setupPath/php/$key['version']</a></td>
											<td><a class="link" href="javascript:GetConfigFile('$key['version']');">修改</a> | 
												<a class="link" href="javascript:SetPHPConfig('$key['version']');">配置</a> |
												<a class="link" href="javascript:ServiceAdmin('php-fpm-$key['version']','reload');">重载</a> | 
												<a class="link" href="javascript:GetPHPInfo('$key['version']');">PHPINFO</a>
												$if key['version'] != '52':
													 | <a class="link" href="javascript:SetPHPMaxTime('$key['version']','$key['maxTime']');">超时($key['maxTime']秒)</a>
													 | <a class="link" href="javascript:SetFpmConfig('$key['version']');">性能调整</a>
											$if key['status']:
												<td><span class="ico-start glyphicon glyphicon-play"></span></td>
											$else:
												<td><span class="ico-stop glyphicon glyphicon-stop"></span></td>
											<td style="text-align: right;"><a class="link" href="javascript:ServiceAdmin('$key['version']','restart',1);">重启</a>
												$if not key['status']:
													| <a class="link" href="javascript:ServiceAdmin('php-fpm-$key['version']','start',1);">启动</a></td>
										</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="softlist" style="display:none">
						<div class="divtable" style="margin:0">
							<table class="table table-hover" width="100%" cellspacing="0" cellpadding="0" border="0">
								<thead>
									<tr>
										<th>软件名称</th>
										<th>类型</th>
										<th>版本</th>
										<th style="text-align: right;" width="120px;">操作</th>
									</tr>
								</thead>
								<tbody id="softList"></tbody>
							</table>
						</div>
					</div>
					
					<div class="liblist" style="display:none">
						<div class="divtable" style="margin:0">
							<table class="table table-hover" width="100%" cellspacing="0" cellpadding="0" border="0">
								<thead>
									<tr>
										<th>插件名称</th>
										<th>类型</th>
										<th>说明</th>
										<th>状态</th>
										<th style="text-align: right;" width="120px;">操作</th>
									</tr>
								</thead>
								<tbody id="libList"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$$(function(){
		var tjBody = $$("#tjBody").text().replace(/\s+/g,"");
		if(tjBody == ""){
			$$("#tjBody").html("<tr><td colspan='5'>暂未安装任何软件，如需使用面板管理，请在所有软件里安装环境。</td></tr>")
		}
	})
	
	//设置phpMyAdmin
	function phpmyadmin(type,msg,to){
		if(to == 1){
			if(type == 'password'){
				if(msg == 'close'){
					password_1 = msg;
					username = msg;
					layer.confirm('您真的要关闭访问认证吗?',{closeBtn:2,icon:3},function(){
						var data = type + '=' + msg + '&siteName=phpmyadmin';
						var loadT = layer.msg('正在处理,请稍候...',{icon:16,time:0});
						$$.post('/ajax?action=setPHPMyAdmin',data,function(rdata){
							layer.closeAll();
							layer.msg(rdata.msg,{icon:rdata.status?1:5});
							if(rdata.status){
								setTimeout(function(){
									window.location.reload();
								},3000);
							}
						});
					});
					return;
				}else{
					username = $$("#username_get").val()
					password_1 = $$("#password_get_1").val()
					password_2 = $$("#password_get_2").val()
					if(username.length < 1 || password_1.length < 1){
						layer.msg('授权用户或密码不能为空!',{icon:5});
						return;
					}
					
					if(password_1 != password_2){
						layer.msg('两次输入的密码不一致，请重新输入!',{icon:5});
						return;
					}
				}
				msg = password_1 + '&username='+username + '&siteName=phpmyadmin';
			}else{
				if(msg == 'get') msg = $$('#get').val();
			}
			
			
			if(type == 'port'){
				if(msg < 80 || msg > 65535){
					layer.msg('端口范围不合法，请重新输入!',{icon:2});
					return;
				}
			}
			var data = type + '=' + msg;
			var loadT = layer.msg('正在处理,请稍候...',{icon:16,time:0});
			$$.post('/ajax?action=setPHPMyAdmin',data,function(rdata){
				layer.closeAll();
				layer.msg(rdata.msg,{icon:rdata.status?1:5});
				if(rdata.status){
					setTimeout(function(){
						window.location.reload();
					},3000);
				}
			});
			return;
		}
		
		if(type == 'port'){
			layer.open({
				type: 1,
				shift: 5,
				closeBtn: 2,
				area: '320px', //宽高
				title: '修改phpMyAdmin访问端口',
				content: '<form class="zun-form-new">\
							<div class="line noborder">\
							<label style="margin-top: 7px;">访问端口</label><div class="info-r"><input type="number" class="form-control" name="Name" id="get" value="'+msg+'" placeholder="phpmyadmin访问端口" maxlength="5" /></div>\
							</div>\
							<div class="submit-btn">\
							<button type="button" class="btn btn-danger btn-sm btn-title" onclick="layer.closeAll()">取消</button>\
							<button type="button" class="btn btn-success btn-sm btn-title" onclick="phpmyadmin(\'port\',\'get\',1)">确定</button>\
							</div>\
						</form>'
			});
		}else if(type == 'password'){
			layer.open({
				type: 1,
				shift: 5,
				closeBtn: 2,
				area: '320px', //宽高
				title: '修改phpMyAdmin访问端口',
				content: '<form class="zun-form-new">\
							<div class="line noborder">\
								<label style="margin-top: 7px;">授权用户</label><div class="info-r"><input type="text" class="form-control" name="username_get" id="username_get" value="" placeholder="设置授权用户" /></div>\
								<label style="margin-top: 7px;">用户密码</label><div class="info-r"><input type="password" class="form-control" name="password_get_1" id="password_get_1" value="" placeholder="设置用户密码" /></div>\
								<label style="margin-top: 7px;">重复密码</label><div class="info-r"><input type="password" class="form-control" name="password_get_2" id="password_get_2" value="" placeholder="重复用户密码" /></div>\
							</div>\
							<div class="submit-btn">\
							<button type="button" class="btn btn-danger btn-sm btn-title" onclick="layer.closeAll()">取消</button>\
							<button type="button" class="btn btn-success btn-sm btn-title" onclick="phpmyadmin(\'password\',\'get\',1)">确定</button>\
							</div>\
						</form>'
			});
		}else{
			$$.post('/site?action=GetPHPVersion',function(rdata){
				var versionSelect = "<label style='margin-top: 7px;'>选择PHP版本</label><div class='info-r'><select id='get' name='phpVersion' style='width:110px'>";
				var optionSelect = '';
				for(var i=0;i<rdata.length;i++){
					optionSelect = msg == rdata[i].version?'selected':'';
					versionSelect += "<option value='"+ rdata[i].version +"' "+ optionSelect +">"+ rdata[i].name +"</option>"
				}
				versionSelect += '</select></div>';
				
				layer.open({
					type: 1,
					shift: 5,
					closeBtn: 2,
					area: '320px', //宽高
					title: '修改phpMyAdmin访问端口',
					content: '<form class="zun-form-new">\
								<div class="line noborder">'+versionSelect+'</div>\
								<div class="submit-btn">\
								<button type="button" class="btn btn-danger btn-sm btn-title" onclick="layer.closeAll()">取消</button>\
								<button type="button" class="btn btn-success btn-sm btn-title" onclick="phpmyadmin(\'phpversion\',\'get\',1)">确定</button>\
								</div>\
							</form>'
				});
			});
		}
		
		
		
		
	}
	
	//PHP配置
	function SetPHPConfig(version){
		$$.get('/ajax?action=GetPHPConfig&version='+version,function(rdata){
			var body  = ""
			var opt = ""
			for(var i=0;i<rdata.libs.length;i++){
				if(rdata.libs[i].versions.indexOf(version) == -1) continue;
				
				if(rdata.libs[i]['task'] == '-1' && rdata.libs[i].phpversions.indexOf(version) != -1){
					opt = '<a style="color:green;" href="javascript:task();">正在安装..</a>'
				}else if(rdata.libs[i]['task'] == '0' && rdata.libs[i].phpversions.indexOf(version) != -1){
					opt = '<a style="color:#C0C0C0;" href="javascript:task();">等待安装..</a>'
				}else if(rdata.libs[i].status){
					opt = '<a style="color:red;" href="javascript:UninstallPHPLib(\''+version+'\',\''+rdata.libs[i].name+'\');">卸载</a>'
				}else{
					opt = '<a class="link" href="javascript:InstallPHPLib(\''+version+'\',\''+rdata.libs[i].name+'\');">安装</a>'
				}
				
				body += '<tr>'
							+'<td>'+rdata.libs[i].name+'</td>'
							+'<td>'+rdata.libs[i].type+'</td>'
							+'<td>'+rdata.libs[i].msg+'</td>'
							+'<td><span class="ico-'+(rdata.libs[i].status?'start':'stop')+' glyphicon glyphicon-'+(rdata.libs[i].status?'ok':'remove')+'"></span></td>'
							+'<td style="text-align: right;">'+opt+'</td>'
					   +'</tr>'
			}
			
			layer.open({
				type: 1,
				shift: 5,
				closeBtn: 2,
				area: '650px', //宽高
				title: 'PHP-'+version+'扩展配置',
				content: '<div>'
							+'<div class="phppz"><span>禁用函数</span><textarea name="disable_functions">'+rdata.disable_functions+'</textarea>'
							+'<a class="btn btn-success btn-xs" href="javascript:disable_functions(\''+version+'\');">保存</a></div>'
							+'<div class="phppz"><span>上传限制</span><input type="text" name="max" value="'+rdata.max+'" style="height: 26px;width: 70px;margin-right: 20px;padding: 0 5px">'
							+'<a class="btn btn-success btn-xs" href="javascript:SetPHPMaxSize(\''+version+'\');" style="margin-top:-3px">保存</a>'
							+'<label style="font-weight: normal;margin-left:20px"><input style="margin-right:3px; vertical-align: -2px;" type="checkbox" id="pathinfo" name="pathinfo" ' + (rdata.pathinfo ? 'checked':'') + ' onclick="SetPathInfo(\''+version+'\',\''+(rdata.pathinfo ? 'off':'on')+'\')" /> 启用PATH_INFO</label></div>'
						+'</div>'
						+'<div class="divtable" style="margin:5px">'
                            +'<table class="table table-hover" width="100%" cellspacing="0" cellpadding="0" border="0">'
                                +'<thead>'
                                    +'<tr>'
                                        +'<th>名称</th>'
                                        +'<th>类型</th>'
                                        +'<th>说明</th>'
                                        +'<th>状态</th>'
                                        +'<th style="text-align: right;" width="120">操作</th>'
                                    +'</tr>'
                                +'</thead>'
                                +'<tbody>'+body+'</tbody>'
                            +'</table>'
                        +'</div>'
				});
		});
	}
	
	//安装扩展
	function InstallPHPLib(version,name)
	{
		layer.confirm('您真的要安装'+name+'吗?',{closeBtn:2},function(){
			name = name.toLowerCase();
			var data = "name="+name+"&version="+version+"&type=1";
			var loadT = layer.msg('正在添加到安装器...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post('/files?action=InstallSoft', data, function(rdata)
			{
				setTimeout(function(){
					layer.closeAll();
					SetPHPConfig(version);
					setTimeout(function(){
						layer.msg(rdata.msg,{icon:rdata.status?1:2});
					},1000);
				},1000);
			});
			
			fly("bi-btn");
			InstallTips();
			GetTaskCount();
		});
	}
	
	//卸载扩展
	function UninstallPHPLib(version,name)
	{
		layer.confirm('您真的要卸载'+name+'吗?',{closeBtn:2},function(){
			name = name.toLowerCase();
			var data = 'name='+name+'&version='+version;
			var loadT = layer.msg('正在处理,请稍候...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post('/files?action=UninstallSoft',data,function(rdata){
				layer.closeAll();
				layer.msg(rdata.msg,{icon:rdata.status?1:2});
				SetPHPConfig(version);
			});
		});
	}
	
	$$.post("/ajax?action=CheckInstalled",function(rdata){
		if(rdata == false){
			$$(".nosofttips").html('<div class="important-title"><p><span class="glyphicon glyphicon-alert" style="color: #f39c12; margin-right: 10px;"></span> 暂未安装任何软件，宝塔推荐安装 LNMP 组件。如需安装其它软件，请切换到<a href="javascript:jump()" style="color:#20a53a">所有软件</a> 。</p></div>')
		}
		else{
			$$(".nosofttips").remove();
		}
	});
	$$(function(){
		GetSList();
		$$("#softCheckAll").click(function(){
			if($$(this).prop("checked")){
				$$("#softList").find("input").prop("checked",true);
				$$("#softList tr").eq(1).find("input").prop("checked",false);
			}
			else{
				$$("#softList").find("input").prop("checked",false);
			}
		});
		$$(".tab-nav span").click(function(){
			var i = $$(this).index();
			switch(i){
				case 0:
					window.location.reload();
					break;
				case 1:
					GetSList();
					break;
				case 2:
					GetLibList();
					break;
			}
			$$(this).addClass("on").siblings().removeClass("on");
			$$(".tab-con > div").hide().eq(i).show();
		});
	});
	
	//获取插件列表
	function GetLibList(){
		var loadT = layer.msg('正在获取列表...',{icon:16,time:0,shade: [0.3, '#000']})
		$$.post('/ajax?action=GetLibList','',function(rdata){
			layer.close(loadT)
			var tBody = ''
			for(var i=0;i<rdata.length;i++){
				tBody += "<tr>\
							<td>"+rdata[i].name+"</td>\
							<td>"+rdata[i].type+"</td>\
							<td>"+rdata[i].ps+"</td>\
							<td>"+rdata[i].status+"</td>\
							<td style='text-align: right;'>"+rdata[i].optstr+"</td>\
						</tr>"
			}
			$$("#libList").html(tBody);
		});
	}
	
	
	//设置插件
	function SetLibConfig(name,action){
		if(action == 1){
			var access_key = $$("input[name='access_key']").val();
			var secret_key = $$("input[name='secret_key']").val();
			var bucket_name = $$("input[name='bucket_name']").val();
			if(access_key.length < 1 || secret_key.length < 1 || bucket_name.length < 1){
				layer.msg('表单错误！',{icon:2});
				return;
			}
			
			var bucket_domain = $$("input[name='bucket_domain']").val();
			var data = 'name='+name+'&access_key='+access_key+'&secret_key='+secret_key+'&bucket_name='+bucket_name+'&bucket_domain='+bucket_domain;
			
			var loadT = layer.msg('正在提交...',{icon:16,time:0,shade:[0.3,'#000']});
			$$.post('/ajax?action=SetQiniuAS',data,function(rdata){
				layer.close(loadT);
				if(rdata.status) layer.closeAll();
				layer.msg(rdata.msg,{icon:rdata.status?1:2});
			}).error(function(){
				layer.close(loadT);
				layer.msg('操作失败!',{icon:2});
			});
			return;
		}
		
		if(name == 'beta'){
			neice();
			return;
		}
		
		$$.post('/ajax?action=GetQiniuAS','name='+name,function(rdata){
			var keyMsg = rdata.info.key.split('|');
			var secretMsg = rdata.info.secret.split('|');
			var bucketMsg = rdata.info.bucket.split('|');
			var domainMsg = rdata.info.domain.split('|');
			
			var body="<div class='zun-form-new bingfa'>"
				    +"<p><span class='span_tit'>"+keyMsg[0]+"：</span><input placeholder='"+keyMsg[1]+"' style='width: 300px;' type='text' name='access_key' value='"+rdata.AS[0]+"' />  *"+keyMsg[2]+" "+'<a href="'+rdata.info.help+'" style="color:green" target="_blank"> [帮助]</a>'+"</p>"
				    +"<p><span class='span_tit'>"+secretMsg[0]+"：</span><input placeholder='"+secretMsg[1]+"' style='width: 300px;' type='text' name='secret_key' value='"+rdata.AS[1]+"' />  *"+secretMsg[2]+"</p>"
				    +"<p><span class='span_tit'>"+bucketMsg[0]+"：</span><input placeholder='"+bucketMsg[1]+"' style='width: 300px;' type='text' name='bucket_name' value='"+rdata.AS[2]+"' />   *"+bucketMsg[2]+"</p>"
				    +"<p><span class='span_tit'>"+domainMsg[0]+"：</span><input placeholder='"+domainMsg[1]+"' style='width: 300px;' type='text' name='bucket_domain' value='"+rdata.AS[3]+"' />   *"+domainMsg[2]+"</p>"
			    +'<div class="submit-btn">'
					+'<button type="button" class="btn btn-danger btn-sm btn-title" onclick="layer.closeAll()">取消</button>'
					+'<button type="button" class="btn btn-success btn-sm btn-title" onclick="GetQiniuFileList(\''+name+'\')" style="margin-right: 4px;">列表</button>'
					+"<button class='btn btn-success btn-sm btn-title' onclick=\"SetLibConfig('"+name+"',1)\">保存</button>"
				+'</div>'
		    +"</div>"
			
			layer.open({
				type: 1,
				shift: 5,
				closeBtn: 2,
				area: '700px', //宽高
				title: '配置'+rdata.info.name,
				content: body
				});
		});
	}
	
	
	//安装插件
	function InstallLib(name){
		layer.confirm('您真的要安装['+name+']插件吗？',{title:'安装插件',closeBtn:2}, function() {
			var loadT = layer.msg('正在安装,请稍候...',{icon:16,time:0,shade:[0.3,'#000']});
			$$.post('/ajax?action=InstallLib','name='+name,function(rdata){
				layer.close(loadT);
				layer.msg(rdata.msg,{icon:rdata.status?1:2});
				if(rdata.status){
					GetLibList();
					SetLibConfig(name);
				}
			});
		});
	}
	
	//卸载插件
	function UninstallLib(name){
		layer.confirm('您真的要卸载['+name+']插件吗？',{title:'卸载插件',closeBtn:2}, function() {
			var loadT = layer.msg('正在卸载...',{icon:16,time:0,shade:[0.3,'#000']});
			$$.post('/ajax?action=UninstallLib','name='+name,function(rdata){
				layer.close(loadT);
				layer.msg(rdata.msg,{icon:rdata.status?1:2});
				if(rdata.status){
					GetLibList();
				}
			});
		});
	}
	
	//取七牛文件列表
	function GetQiniuFileList(name){
		var loadT = layer.msg('正在从云端获取...',{icon:16,time:0});
		$$.get('/ajax?action=GetQiniuFileList&name='+name,function(rdata){
			layer.close(loadT);
			if(rdata.status === false){
				layer.msg(rdata.msg,{icon:2});
				return;
			}
			
			var tBody = ''
			for(var i=0;i<rdata.length;i++){
				tBody += "<tr>\
							<td>"+rdata[i].key+"</td>\
							<td>"+rdata[i].mimeType+"</td>\
							<td>"+ToSize(rdata[i].fsize)+"</td>\
							<td>"+getLocalTime(rdata[i].putTime)+"</td>\
						</tr>"
			}
			
			layer.open({
				type: 1,
				skin: 'demo-class',
				area: '700px',
				title: '七牛空间文件列表',
				closeBtn: 2,
				shift: 0,
				content: "<div class='divtable' style='margin:17px'>\
							<table width='100%' class='table table-hover'>\
								<thead>\
									<tr>\
										<th>名称</th>\
										<th>类型</th>\
										<th>大小</th>\
										<th>更新时间</th>\
									</tr>\
								</thead>\
								<tbody class='list-list'>"+tBody+"</tbody>\
							</table>\
						</div>"
			});
		});
	}
	
	
	
		function neice(act){
			if(act == 1){
				var bbs_name = $$("#ename").val();
				var qq = $$("#qq").val();
				var email = $$("#email").val();
				
				if(bbs_name == '' || qq == '' || email == ''){
					layer.msg('论坛用户名/QQ/邮箱不能为空!',{icon:2});
					return;
				}
				
				var data = 'bbs_name=' + bbs_name + '&qq=' + qq + '&email=' + email;
				var loadT = layer.msg("正在提交,请稍候...",{icon:16,time:0,shade:[0.3,'#000']});
				$$.post('/ajax?action=SetBeta',data,function(rdata){
					layer.closeAll();
					layer.msg(rdata.msg,{icon:rdata.status?1:2});
				});
				
				return;
			}
			$$.get('/ajax?action=GetBetaStatus',function(rdata){
				if(rdata != 'False'){
					var user = rdata.split("|")[0];
					//layer.msg('您当前已经是内测用户!',{icon:1});
					layer.open({
						type: 1,
						area: '500px',
						title: '申请内测',
						closeBtn: 2,
						shift: 5,
						shadeClose: false,
						content:'<div class="nc-tips">\
								<p style="font-size: 16px; margin-bottom: 10px;">恭喜您，成为内测组的一员！</p>\
								<p>您的宝塔论坛认证用户为：<span>'+user+'</span></p>\
								<p>您可以用这个账号在内测专用版块反馈交流，<a href="http://www.bt.cn/bbs/forum.php?mod=forumdisplay&fid=39" target="_blank">宝塔论坛内测专用版块</a></p>\
								<p>如果您想返回正式版，则直接SSH里再执行安装代码即可</p>\
						</div>'
					})
					return;
				}
			
				layer.open({
					type: 1,
					area: '560px',
					title: '申请内测',
					closeBtn: 2,
					shift: 5,
					shadeClose: false,
					content:'<div class="zun-form-new" style="padding-top:0"><div class="neice_con">\
								<div class="tit">注意事项</div>\
								<div class="nc_con">\
									<p style="color:red">1、注意，请不要在正式商用网站及自己生产环境的面板申请测试版。</p>\
									<p>2、所有新功能做完内部初审后都会第一时间向所有内测用户推送。</p>\
									<p>3、内测版会有诸多小Bug，如遇到，可以论坛或QQ找我们，我们一定负责到底。</p>\
									<p>4、内测意义在于为广大宝塔用户找Bug，宝塔团队再一次感谢您的积极参与。</p>\
									<p>5、如果你不是愿意付出及肯折腾学习的人，我们不建议申请内测。</p>\
								</div>\
								<div class="nc_opt"><label><input type="checkbox" name="yes" value="yes" />以上5句我已阅读并知晓</label></div>\
								<div class="tit">联系方式</div>\
								<div class="nc_con nc_con_user">\
									<p><span>论坛用户名</span><input id="ename" name="name" value=""></p>\
									<p style="line-height: 10px; margin-left: 80px; position: relative; top: -5px;">请如实填写宝塔论坛账号，提交后我们会审核，如未有，<a style="color:#20a53a" href="http://www.bt.cn/bbs/member.php?mod=register" target="_blank">去注册宝塔论坛账户</a></p>\
									<p><span>QQ号码</span><input id="qq" name="qq" value=""></p>\
									<p><span>邮箱</span><input id="email" name="email" value=""></p>\
								</div>\
							</div>\
							<div class="submit-btn"><button type="button" class="btn btn-danger btn-sm" onclick="layer.closeAll()">取消</button>\
							<button type="button" class="btn btn-success btn-sm" onclick="neice(1)">提交</button></div></div>'
				})
				$$(".nc_con_user input").addClass("disabled").attr({"disabled":"disabled","placeholder":"阅读注意事项并确认"});
				$$(".nc_opt label").click(function(){
					var check = $$(".nc_opt input").prop("checked");
					if(!check){
						$$(".nc_con_user input").addClass("disabled").attr({"disabled":"disabled","placeholder":"阅读注意事项并确认"});
					}
					else{
						$$(".nc_con_user input").removeClass("disabled").removeAttr("disabled").removeAttr("placeholder");
					}
				});
				$$('#qq').on('input', function() {
					var str = $$(this).val();
					$$("#email").val(str+"@qq.com");
				})
			})
		}
	
	
	//设置防恶意解析
	function SetDefaultSite(){
		$$.get('/config?action=SetDefaultSite',function(rdata){
			layer.msg(rdata.msg,{icon:rdata.status?1:2});
		});
	}

	//性能调整
	function SetFpmConfig(version,action){
		if(action == 1){
			var max_children = Number($$("input[name='max_children']").val());
			var start_servers = Number($$("input[name='start_servers']").val());
			var min_spare_servers = Number($$("input[name='min_spare_servers']").val());
			var max_spare_servers = Number($$("input[name='max_spare_servers']").val());
			if(max_children < max_spare_servers){
				layer.msg('max_spare_servers 不能大于 max_children',{icon:2});
				return;
			}
			
			if(min_spare_servers > start_servers) {
				layer.msg('min_spare_servers 不能大于 start_servers',{icon:2});
				return;
			}
			
			if(max_spare_servers < min_spare_servers){
				layer.msg('min_spare_servers 不能大于 max_spare_servers',{icon:2});
				return;
			}
			
			if(max_children < start_servers){
				layer.msg('start_servers 不能大于 max_children',{icon:2});
				return;
			}
			
			if(max_children < 1 || start_servers < 1 || min_spare_servers < 1 || max_spare_servers < 1){
				layer.msg('配置值不能小于1',{icon:2});
				return;
			}
			
			var data = 'version='+version+'&max_children='+max_children+'&start_servers='+start_servers+'&min_spare_servers='+min_spare_servers+'&max_spare_servers='+max_spare_servers;
			layer.msg('正在处理...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post('/config?action=setFpmConfig',data,function(rdata){
				layer.closeAll();
				layer.msg(rdata.msg,{icon:rdata.status?1:2});				
			}).error(function(){
				layer.closeAll();
				layer.msg('设置成功!',{icon:1});
			});
			return;
		}
		
		$$.post('/config?action=getFpmConfig','version='+version,function(rdata){
			
			var limitList = "<option value='0'>自定义</option>"
							+"<option value='1' "+(rdata.max_children==30?'selected':'')+">30并发</option>"
							+"<option value='2' "+(rdata.max_children==50?'selected':'')+">50并发</option>"
							+"<option value='3' "+(rdata.max_children==100?'selected':'')+">100并发</option>"
							+"<option value='4' "+(rdata.max_children==200?'selected':'')+">200并发</option>"
							+"<option value='5' "+(rdata.max_children==300?'selected':'')+">300并发</option>"
							+"<option value='6' "+(rdata.max_children==500?'selected':'')+">500并发</option>"
							+"<option value='7' "+(rdata.max_children==1000?'selected':'')+">1000并发</option>"
			var body="<div class='zun-form-new bingfa'>"
							+"<p><span class='span_tit'>并发方案：</span><select name='limit' style='width:90px'>"+limitList+"</select></p>"
						    +"<p><span class='span_tit'>max_children：</span><input style='width: 90px;' type='number' name='max_children' value='"+rdata.max_children+"' />  *允许创建的最大子进程数</p>"
						    +"<p><span class='span_tit'>start_servers：</span><input style='width: 90px;' type='number' name='start_servers' value='"+rdata.start_servers+"' />  *起始进程数（服务启动后初始进程数量）</p>"
						    +"<p><span class='span_tit'>min_spare_servers：</span><input style='width: 90px;' type='number' name='min_spare_servers' value='"+rdata.min_spare_servers+"' />   *最小空闲进程数（清理空闲进程后的保留进程数量）</p>"
						    +"<p><span class='span_tit'>max_spare_servers：</span><input style='width: 90px;' type='number' name='max_spare_servers' value='"+rdata.max_spare_servers+"' />   *最大空闲进程数（当空闲进程达到此值时开始清理）</p>"
					    +'<div class="submit-btn">'
							+'<button type="button" class="btn btn-danger btn-sm btn-title" onclick="layer.closeAll()">取消</button>'
							+"<button class='btn btn-success btn-sm btn-title' onclick=\"SetFpmConfig('"+version+"',1)\">保存</button>"
						+'</div>'
				    +"</div>"
			
			layer.open({
				type: 1,
				shift: 5,
				closeBtn: 2,
				area: '560px', //宽高
				title: 'PHP-'+version+'性能调整',
				content: body
				});
			
			$$("select[name='limit']").change(function(){
						var type = $$(this).val();
						var max_children = rdata.max_children;
						var start_servers = rdata.start_servers;
						var min_spare_servers = rdata.min_spare_servers;
						var max_spare_servers = rdata.max_spare_servers;
						switch(type){
							case '1':
								max_children = 30;
								start_servers = 5;
								min_spare_servers = 5;
								max_spare_servers = 20;
								break;
							case '2':
								max_children = 50;
								start_servers = 15;
								min_spare_servers = 15;
								max_spare_servers = 35;
								break;
							case '3':
								max_children = 100;
								start_servers = 20;
								min_spare_servers = 20;
								max_spare_servers = 70;
								break;
							case '4':
								max_children = 200;
								start_servers = 25;
								min_spare_servers = 25;
								max_spare_servers = 150;
								break;
							case '5':
								max_children = 300;
								start_servers = 30;
								min_spare_servers = 30;
								max_spare_servers = 180;
								break;
							case '6':
								max_children = 500;
								start_servers = 35;
								min_spare_servers = 35;
								max_spare_servers = 250;
								break;
							case '7':
								max_children = 1000;
								start_servers = 40;
								min_spare_servers = 40;
								max_spare_servers = 300;
								break;
						}
						
						$$("input[name='max_children']").val(max_children);
						$$("input[name='start_servers']").val(start_servers);
						$$("input[name='min_spare_servers']").val(min_spare_servers);
						$$("input[name='max_spare_servers']").val(max_spare_servers);
					});
		});
	}
	
	//设置PATHINFO
	function SetPathInfo(version,type){
		var loadT = layer.msg('正在处理..',{icon:16,time:0,shade: [0.3, '#000']});
		$$.post('/config?action=setPathInfo','version='+version+'&type='+type,function(rdata){
			layer.close(loadT);
			layer.msg(rdata.msg,{icon:1});
		})
	}
	
	//设置PHP上传限制
	function SetPHPMaxSize(version){
		max = $$("input[name='max']").val();
		if(max < 2){
			alert(max);
			layer.msg('上传大小限制不能小于2M',{icon:2});
			return;
		}
		var loadT = layer.msg('正在保存数据...',{icon:16,time:0,shade: [0.3, '#000']});
		$$.post('/config?action=setPHPMaxSize','&version='+version+'&max='+max,function(rdata){
			layer.close(loadT);
			layer.msg(rdata.msg,{icon:rdata.status?1:2});
		})
	}
	
	
	//设置禁用函数
	function disable_functions(version){
		var functions = $$("textarea[name='disable_functions']").val();
		var data = 'version='+version+'&disable_functions='+functions;
		var loadT = layer.msg('正在保存数据...',{icon:16,time:0,shade: [0.3, '#000']});
		$$.post('/config?action=setPHPDisable',data,function(rdata){
			layer.close(loadT);
			layer.msg(rdata.msg,{icon:rdata.status?1:2});
		});
	}
	
	//设置PHP超时时间
	function SetPHPMaxTime(version,max){
		if(max == 'submit'){
			max = $$("#max").val();
			layer.msg('正在保存数据...',{icon:16,time:0,shade: [0.3, '#000']});
			$$.post('/config?action=setPHPMaxTime','version='+version+'&time='+max,function(rdata){
				layer.closeAll();
				layer.msg(rdata.msg,{icon:rdata.status?1:2});				
				setTimeout(function(){
					window.location.reload();
				},3000);
			});
			
			return;
		}
		layer.open({
			type: 1,
			shift: 5,
			closeBtn: 2,
			area: '320px', //宽高
			title: '修改PHP-'+version+'脚本超时限制(秒)',
			content: '<form class="zun-form-new">\
						<div class="line noborder">\
						<input type="text" class="form-control" name="Name" id="max" value="'+max+'" placeholder="脚本超时限制(秒)" />\
						</div>\
						<div class="submit-btn">\
						<button type="button" class="btn btn-danger btn-sm btn-title" onclick="layer.closeAll()">取消</button>\
						<button type="button" class="btn btn-success btn-sm btn-title" onclick="SetPHPMaxTime(\''+version+'\',\'submit\')">确定</button>\
						</div>\
					</form>'
		});
	}
	
	
//取软件列表
function GetSList(){
	var loadT = layer.msg('正在获取列表...',{icon:16,time:0,shade: [0.3, '#000']})
	$$.post('/ajax?action=GetSoftList','',function(rdata){
		layer.close(loadT)
		var sBody = ''
		var pBody = ''
		for(var i=0;i<rdata.length;i++){
			var opt = ''
			var version = '';
			version = rdata[i].name+' '+rdata[i].versions[0].version;
			var handle = '<a class="link" onclick="AddVersion(this,0)">安装</a>';
			len = rdata[i].versions.length
			for(var n=0;n<len;n++){
				if(rdata[i].name =="PHP" || len == 1){
					handle = '<a class="link" onclick="oneInstall(this)">安装</a>';
				}
				if(rdata[i].versions[n].status == true){
					//opt += rdata[i].name+' '+rdata[i].versions[n].version;
					if(rdata[i].name =="PHP"  || len == 1){
						handle = '<a class="link" onclick="UninstallVersion(\''+rdata[i].name+'\',\''+rdata[i].versions[n].version+'\')"><span class="glyphicon glyphicon-trash"></span> 卸载</a>';
					}
					else{
						handle = '<a class="link" onclick="UninstallVersion(\''+rdata[i].name+'\',\''+rdata[i].versions[n].version+'\')"><span class="glyphicon glyphicon-trash"></span> 卸载</a> | <a class="link" onclick="AddVersion(this,1)">切换版本</a>';
					}
				}
				else{
					opt +='<option>'+rdata[i].name+' '+rdata[i].versions[n].version+'</option>';
				}
				
				var isTask = (rdata[i].name == 'PHP')?rdata[i].versions[n].task:rdata[i].task;
				
				if(isTask == '-1'){
					handle = '<a style="color:green;" href="javascript:task();">正在安装..</a>'
				}else if(isTask == '0'){
					handle = '<a style="color:#C0C0C0;" href="javascript:task();">等待安装..</a>'
				}
				
				if(rdata[i].name == 'PHP' || len == 1 ){
					pBody += '<tr>'
							+'<td>'+rdata[i].name+'-'+rdata[i].versions[n].version+'</td>'
							+'<td>'+rdata[i].type+'</td>'
							+'<td>'+rdata[i].versions[n].version+'</td>'											
							+'<td style="text-align: right;">'+handle+'</td>'
						+'</tr>'
				}
				
			}
			if(rdata[i].name == 'PHP' || len == 1) continue;
			opt = "<select class='sl-s-info'>"+opt+"</select>";
			sBody += '<tr>'
						+'<td>'+rdata[i].name+'</td>'
						+'<td>'+rdata[i].type+'</td>'
						+'<td>'+opt+'</td>'											
						+'<td style="text-align: right;">'+handle+'</td>'
					+'</tr>'
		}
		
		sBody += pBody;
		
		$$("#softList").html(sBody);
		$$("#softList .sl-s-info").change(function(){
			var datainfo = $$(this).find("option:selected").text();
			datainfo = datainfo.toLowerCase();
			$$(this).parents("tr").find("input").attr("data-info",datainfo);
		});
		$$("#softList tr").eq(0).find("input").click(function(){
			if($$(this).prop("checked",false)){
				$$(this).prop("checked",true);
				$$("#softList tr").eq(1).find("input").prop("checked",false);
			}
		})
		$$("#softList tr").eq(1).find("input").click(function(){
			if($$(this).prop("checked",false)){
				$$(this).prop("checked",true);
				$$("#softList tr").eq(0).find("input").prop("checked",false);
			}
		})
	})
}
function AddVersion(obj,n){
	var titlename = '';
	switch (n){
		case 0:
			titlename = "安装版本";
			break;
		case 1:
			titlename = "切换版本";
			break;
		case 2:
			titlename = "添加版本";
			break;
	}
	
	
	if (name == 'apache' || name == 'nginx'){
		var isError = false
		$$.ajax({
			url:'/ajax?action=GetInstalled',
			type:'get',
			async:false,
			success:function(rdata){
				if(rdata.webserver != name && rdata.webserver != false){
					layer.msg('请先卸载Nginx',{icon:2,shade: [0.3, '#000']})
					isError = true;
					return;
				}
			}
		});
	}
	
	if (isError) return;
	
	var version = $$(obj).parents("tr").find(".sl-s-info option:selected").text()
	var tmps = version.split(' ');
	if(tmps[0] == 'phpMyAdmin' || tmps[0] == 'Nginx'){
		var isError = false
		$$.ajax({
			url:'/ajax?action=GetInstalled',
			type:'get',
			async:false,
			success:function(rdata){
				if(tmps[0] == 'Nginx'){
					if(rdata.webserver != tmps[0].toLowerCase() && rdata.webserver != false){
						layer.msg('请先卸载Apache',{icon:2,shade: [0.3, '#000']})
						isError = true;
						return;
					}
				}
				
				if(tmps[0] == 'phpMyAdmin'){
					if (rdata.php.length < 1){
						layer.msg('请先安装php',{icon:2,shade: [0.3, '#000']})
						isError = true;
						return;
					}
					if (!rdata.mysql.setup){
						layer.msg('请先安装MySQL',{icon:2,shade: [0.3, '#000']})
						isError = true;
						return;
					}
					
					if(tmps[1] == '4.4'){
						var isN = 0;
						for(var i=0;i<rdata.php.length;i++){
							if(parseInt(rdata.php[i].version) > 53) isN++;
						}
						if(isN == 0){
							layer.msg('需要PHP-5.4及以上版本!',{icon:2,shade: [0.3, '#000']})
							isError = true;
							return;
						}
					}
				}
			}
		});
		if(isError) return;
	}
	
	layer.open({
		type: 1,
	    title: titlename,
	    area: '350px',
	    closeBtn: 2,
	    shadeClose: true,
	    content:"<div class='zun-form-new'>\
	    	<p style='margin-left:29px'>当前选择的版本是："+version+"</p>\
	    	<div class='fangshi'>安装方式：<label data-title='即rpm，安装时间极快（5~10分钟），性能与稳定性略低于编译安装'>极速安装<input type='checkbox' checked></label><label data-title='安装时间长（30分钟到3小时），适合高并发高性能应用'>编译安装<input type='checkbox'></label></div>\
	    	<div class='submit-btn' style='margin-top:15px'>\
				<button type='button' class='btn btn-danger btn-sm btn-title' onclick='layer.closeAll()'>取消</button>\
		        <button type='button' id='bi-btn' class='btn btn-success btn-sm btn-title bi-btn'>提交</button>\
	        </div>\
	    </div>"
	})
	$$('.fangshi input').click(function(){
		$$(this).attr('checked','checked').parent().siblings().find("input").removeAttr('checked');
	});
	$$("#bi-btn").click(function(){
		var info = $$(obj).parents("tr").find(".sl-s-info option:selected").text().toLowerCase();
		var name = info.split(" ")[0];
		var version = info.split(" ")[1];
		var type = $$('.fangshi input').prop("checked") ? '1':'0';
		var data = "name="+name+"&version="+version+"&type="+type;
		var loadT = layer.msg('正在添加到安装器...',{icon:16,time:0,shade: [0.3, '#000']});
		$$.post("/files?action=InstallSoft",data,function(rdata){
			layer.closeAll();
			layer.msg(rdata.msg,{icon:rdata.status?1:2});
			GetSList();
		});
	});
	InstallTips();
	fly("bi-btn");
}
//卸载软件
function UninstallVersion(name,version){
	layer.confirm('您真的经卸载'+name+'吗?',{closeBtn:2},function(){
		var data = 'name='+name+'&version='+version;
		var loadT = layer.msg('正在处理,请稍候...',{icon:16,time:0,shade: [0.3, '#000']});
		$$.post('/files?action=UninstallSoft',data,function(rdata){
			layer.close(loadT)
			GetSList();
			layer.msg(rdata.msg,{icon:rdata.status?1:2});
		})
	});
}

//统计选择软件数量
function totalSoft(){
	var el = $$("#softList input");
	var len = el.length;
	var count = 0;
	for(var i=0;i<len;i++){
		if(el[i].checked == true){
			count++;
		}
	}
	return count;
}
function ScInstall(){
	var n = totalSoft();
	if(n==0){
		layer.msg("请勾选要安装的软件");
		return;
	}
	layer.open({
		type: 1,
	    title: '选择安装方式',
	    area: '350px',
	    closeBtn: 2,
	    shadeClose: true,
	    content:"<div class='zun-form-new'>\
	    	<div class='fangshi'>安装方式：<label data-title='即rpm，安装时间极快（5~10分钟），性能与稳定性略低于编译安装'>极速安装<input type='checkbox'></label><label data-title='安装时间长（30分钟到3小时），适合高并发高性能应用'>编译安装<input type='checkbox' checked></label></div>\
	    	<div class='submit-btn' style='margin-top:15px'>\
				<button type='button' class='btn btn-danger btn-sm btn-title' onclick='layer.closeAll()'>取消</button>\
		        <button type='button' id='bi-btn' class='btn btn-success btn-sm btn-title bi-btn'  onclick='BatchInstall(0)'>提交</button>\
	        </div>\
	    </div>"
	})
	$$('.fangshi input').click(function(){
		$$(this).attr('checked','checked').parent().siblings().find("input").removeAttr('checked');
		if($$('.fangshi input').eq(0).prop("checked")){
			$$("#bi-btn").attr("onclick","BatchInstall(1)");
		}
		else{
			$$("#bi-btn").attr("onclick","BatchInstall(0)");
		}
	});
	InstallTips();
	fly("bi-btn");
}
//独立安装
function oneInstall(obj){
	var info = $$(obj).parents("tr").find("td").eq(0).text();
	var name = info.split("-")[0].toLowerCase();
	var version = info.split("-")[1];
	
	if (name == 'pure') name += '-'+version.toLowerCase();
	
	if (name == 'apache' || name == 'nginx'){
		var isError = false
		$$.ajax({
			url:'/ajax?action=GetInstalled',
			type:'get',
			async:false,
			success:function(rdata){
				if(rdata.webserver != name && rdata.webserver != false){
					layer.msg('请先卸载Nginx',{icon:2,shade: [0.3, '#000']})
					isError = true;
					return;
				}
			}
		});
	}
	
	if (isError) return;
	layer.open({
		type: 1,
	    title: '选择安装方式',
	    area: '350px',
	    closeBtn: 2,
	    shadeClose: true,
	    content:"<div class='zun-form-new'>\
	    	<p style='margin-left:29px'>当前选择的版本是："+$$(obj).parents("tr").find("td").eq(0).text()+"</p>\
	    	<div class='fangshi'>安装方式：<label data-title='即rpm，安装时间极快（5~10分钟），性能与稳定性略低于编译安装'>极速安装<input type='checkbox' checked></label><label data-title='安装时间长（30分钟到3小时），适合高并发高性能应用'>编译安装<input type='checkbox'></label></div>\
	    	<div class='submit-btn' style='margin-top:15px'>\
				<button type='button' class='btn btn-danger btn-sm btn-title' onclick='layer.closeAll()'>取消</button>\
		        <button type='button' id='bi-btn' class='btn btn-success btn-sm btn-title bi-btn'>提交</button>\
	        </div>\
	    </div>"
	})
	$$('.fangshi input').click(function(){
		$$(this).attr('checked','checked').parent().siblings().find("input").removeAttr('checked');
	});
	$$("#bi-btn").click(function(){
		var type = $$('.fangshi input').prop("checked") ? '1':'0';
		var data = "name="+name+"&version="+version+"&type="+type;
		var loadT = layer.msg('正在添加到安装器...',{icon:16,time:0,shade: [0.3, '#000']});
		$$.post('/files?action=InstallSoft', data, function(rdata) {
			layer.closeAll();
			layer.msg(rdata.msg,{icon:rdata.status?1:2});
			GetSList();
		})
		
	});
	InstallTips();
	fly("bi-btn");
}
//批量安装
function BatchInstall(type){
	var l = $$("#softList tr").length;
	var name = '';
	var info = '';
	var sname = '';
	var sversion = '';
	var data = '';
	//取安装软件信息
	for(var i=0; i<l; i++){
		var tr = $$("#softList tr").eq(i);
		var checkbox = tr.find("input");
		if(checkbox.prop("checked")){
			name += checkbox.attr("data-info")+",";
		}
	}
	info = name.split(",");
	//循环添加任务
	for(var i= 0; i<info.length-1; i++){
		sname = info[i].split(" ")[0].toLowerCase();
		sversion = info[i].split(" ")[1];
		data = "name="+sname+"&version="+sversion+"&type="+type;
		$$.post('/files?action=InstallSoft', data, function(rdata) {
			
		})
	}
	layer.closeAll();
	layer.msg('已将安装请求添加到安装器..',{icon:1});
}


//获取PHPInfo
function GetPHPInfo(version){
	var loadT = layer.msg('正在获取...',{icon:16,time:0,shade: [0.3, '#000']});
	$$.get('/ajax?action=GetPHPInfo&version='+version,function(rdata){
		layer.close(loadT);
		layer.open({
			type: 1,
		    title: "PHP-"+version+"-PHPINFO",
		    area: ['70%','90%'],
		    closeBtn: 2,
		    shadeClose: true,
		    content:rdata.replace('a:link {color: #009; text-decoration: none; background-color: #fff;}','').replace('a:link {color: #000099; text-decoration: none; background-color: #ffffff;}','')
		});
	});
}

</script>