{% extends "layout.html" %}

{% block content %}
<style type="text/css">
    .ssh-config{
        padding: 6px 0;
    }
    .ssh-config-title{
        line-height: 30px;
        font-size: 14px;
        border-bottom: 1px solid #e7e7e7;
        padding: 5px 5px 8px 10px;
        font-weight: bold;
        color: #666;
        margin-bottom: 10px;
    }
    .ssh-config .line .line-input {
        display: inline-block;
        position: relative;
    }
    .ssh-config .line:hover{
        background: #a5a5a514;
        transition: background .2s;
        cursor: pointer;
    }
    .ssh-config .line-title{
        font-size: 12px;
        color: #333;
        display: inline-block;
        width: 120px;
        text-align: right;
        padding-right: 15px;
        height: 30px;
        line-height: 30px;
        vertical-align: top;
    }
    .ssh-config .line-item{
        display: inline-block;
        vertical-align: top;
        height: 30px;
        line-height: 30px;
    }
    .ssh-config .line-row{
        vertical-align: top;
    }
    .line-row,.line-row-tips{
        height: 30px;
        line-height: 30px;
        display: inline-block;
    }
    .line-input input{
        height: 30px;
        line-height: 30px;
    }
    .line-row-tips{
        margin-left: 10px !important;
        color: #999;
        vertical-align: top;
    }
    .crontab-log{
        overflow: auto;
        border: 0 none;
        line-height: 16px;
        padding: 15px;
        white-space: pre-wrap;
        min-height: 250px;
        background-color: rgb(51,51,51);
        color: #f1f1f1;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .input_file {
        float: left;
        height: 35px;
        border: 0.1px dashed #D0D0D0;
        padding: 0 0 0 10px;
        font-size: 14px;
        outline: none;
        margin-bottom: 20px;
    }
    .select_file {
        float: left;
        width: 80px;
        height: 35px;
        font-size: 14px;
        color: #fff;
        background: #10952a;
        position: absolute;
        left: 170px;
        border: none;

    }
    .dividing-line {
        width: 1px;
        background: #ccc;
        height: 20px;
        vertical-align: middle;
    }
    #antiOverviewList .divtable,
    #reinforceSystem .divtable{
        margin: 0;
    }

    .logs-data-select {
        margin-bottom: 15px;
    }
    .logs-title {
        display: inline-block;
        width: auto;
        height: 35px;
        font-size: 12px;
        line-height: 35px;
        margin-right: 5px;
    }
    .logs-unselect {
        position: relative;
        display: inline-block;
        height: 30px;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        font-size: 13px;
        line-height: 28px;
    }
    .logs-unselect.active .logs-input-list {
        display: block;
    }
    .logs-unselect.active .logs-input-list {
        animation-name: layui-upbit;
        animation-duration: .3s;
        animation-fill-mode: both;
    }
    .logs-inputs {
        box-sizing: border-box;
        padding: 0 30px 0 10px;
        height: 30px;
        cursor: pointer;
    }
    .logs-unselect .logs-inputs:after {
        position: absolute;
        top: 0.8pc;
        right: 6pt;
        display: block;
        width: 0;
        height: 0;
        border-color: #c2c2c2 transparent transparent;
        border-style: solid;
        border-width: 6px 6px 0;
        content: '';
        transition: transform .5s;
    }
    .logs-input-list {
        position: absolute;
        top: 30px;
        right: -1px;
        left: -1px;
        z-index: 899;
        display: none;
        box-sizing: border-box;
        padding: 5px 0;
        height: auto;
        min-width: 100%;
        border: 1px solid #d2d2d2;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,.12);
    }
    .logs-input-list dd {
        padding: 5px 15px;
        height: 30x;
    }

    .logs-input-list dd:hover {
        background-color: #f2f2f2;
        cursor: pointer;
    }
    .logs-input-list dd.logs_checked {
        background: #20a532!important;
        color: #fff;
    }
    .logs-page.page-style {
        padding: 0 5px;
        height: 30px;
        font-size: 13px;
        margin-top: 5px;
    }
    .page-style .nextPage{
        display: inline-block;
        margin: 0 3px;
        padding: 0 10px;
        height: 30px;
        border-radius: 2px;
        background-color: #f5f5f5;
        color: #666;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
    .page-style .Pcount {
        margin-right: 0;
        margin-left: 5px;
    }
    .page a:last-of-type {
        border-right: 1px solid #ececec;
    }
    .firewall-tab-view .tab-nav-border span i{
        font-style: initial;
    }

    .firewall-tab-view .tab-con{
        padding: 0;
    }

    .firewall-tab-view .tab-con .btswitch+.btswitch-btn{
        width: 2.8rem;
        height: 1.75rem;
    }

    .logAuditContent{
        padding: 0 0 0 15px;
        margin-left: 15px;
        width: 100%;
        flex: 1;
        border-left: 1px solid #ececec;
    }

    .logAuditTabContent{
        display: flex;
        height: 100%;
    }

    .logAuditTabContent .logAuditTab .logAuditItem{
        height: 35px;
        line-height: 35px;
        padding:0 10px;
        border-bottom: 1px solid #ececec;
        cursor: pointer;
    }

    .logAuditTabContent .logAuditTab .logAuditItem:hover,
    .logAuditTabContent .logAuditTab .logAuditItem.active{
        background-color: #f2f2f2;
    }

    .logAuditTabContent .logAuditTab{
        border:1px solid #ececec;
        overflow: auto;
    }


    .daily-thumbnail{
        width: 1200px;
        margin: 80px auto;
    }
    .thumbnail-box{
        position: relative;
        display: flex;
        justify-content: center;
    }

    .thumbnail-introduce{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .thumbnail-introduce span{
        font-size: 20px;
        font-weight: bold;
    }
    .thumbnail-introduce ul {
        display: flex;
        font-size: 16px;
        line-height: 30px;
        margin: 20px 0;
        list-style-type: square;
    }
    .thumbnail-introduce ul li + li {
        margin-left: 40px;
    }
    .pluginTipsGg{
        position: relative;
        width: 950px;
        height: 720px;
        background-color: #f1f1f1;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
        border-radius: 4px;
    }
    /*.pluginTipsGg:hover::before{*/
    /*  display: inline-block;*/
    /*}*/
    .pluginTipsGg::before {
        content: '点击预览';
        display: none;
        background: #000;
        opacity: 0.2;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 621px;
        font-size: 18px;
        vertical-align: bottom;
        text-align: center;
        border-radius: 4px;
        transition: all 1s;
    }
    .tab-list .tabs-item.active:after {
        content: '';
        width: 20px;
        height: 2px;
        position: absolute;
        left: 50%;
        bottom: 0px;
        background: red;
        margin-left: -10px;
        background: #20a53a;
    }
    .thumbnail-box .thumbnail-tab {
        margin-right: 20px;
        width: 140px;
        border-left: 1px solid #def2e2;
    }
    .thumbnail-tab li {
        padding: 0 20px;
        line-height: 36px;
        cursor: pointer;
        font-size: 14px;
    }
    .thumbnail-tab li.on {
        border-left: 2px solid #20a53a;
        color: #20a53a;
        font-size: 16px;
        font-weight: bold;
    }
    .thumbnail-item {
        display: none;
    }
    .thumbnail-item.show {
        display: block;
    }
		.bt_warning {
				color: #fc6d26;
		}
</style>
<div class="main-content">
    <div class="container-fluid" style="padding-bottom: 50px;">
        <div id="cutTab" class="pos-box bgw mtb15">
            <div class="tab-list">
                <div class="tabs-item active" data-name="safety">系统防火墙</div>
                <div class="tabs-item" data-name="ssh">SSH管理</div>
                <div class="tabs-item" data-name="intrusion">入侵防御</div>
                <div class="tabs-item" data-name="system">系统加固</div>
                <div class="tabs-item" data-name="logAudit">日志审计</div>
                <div class="tabs-item" data-name="logs">面板日志</div>
            </div>
        </div>
        <div class="safe container-fluid bgw mtb15 pd15 radius4 state-content">
            <div class="safety-header" style="display: none">
                <div class="inlineBlock" style="height: 30px;">
                    <span style="vertical-align: middle;">防火墙开关</span>
                    <div class="ssh-item" style="float: inherit;display: inline-block;vertical-align: middle;">
                        <input class="btswitch btswitch-ios" id="isFirewall" type="checkbox" checked="" />
                        <label class="btswitch-btn isFirewall" for="isFirewall"></label>
                    </div>
                </div>
                <div class="inlineBlock mlr15 dividing-line"></div>
                <div class="inlineBlock mr10" style="height: 30px;">
                    <span style="vertical-align: middle;">禁ping</span>
                    <div class="ssh-item" style="float: inherit;display: inline-block;vertical-align: middle;">
                        <input class="btswitch btswitch-ios" id="ssh_ping" type="checkbox" checked="" />
                        <label class="btswitch-btn" for="ssh_ping"></label>
                    </div>
                </div>
            </div>
            <div class="ssh-header" style="display: none">
                <div class="inlineBlock" style="height: 30px;">
                    <span style="vertical-align: middle;">SSH开关</span>
                    <div class="ssh-item" style="float: inherit;display: inline-block;vertical-align: middle;">
                        <input class="btswitch btswitch-ios" id="isSsh" type="checkbox" checked="" />
                        <label class="btswitch-btn isSsh" for="isSsh"></label>
                    </div>
                </div>
                <div class="inlineBlock mlr15 dividing-line"></div>
                <div class="inlineBlock" style="height: 30px;line-height: 30px; vertical-align: top;">
                    <span style="vertical-align: middle;">SSH登录详情：</span>
                    <span class="inlineBlock ml10" style="vertical-align: middle;" id="sshDetailed"></span>
                </div>
<!--                <div class="inlineBlock mlr15 dividing-line"></div>-->
<!--                <div class="inlineBlock" style="height: 30px;line-height: 30px; vertical-align: top;">-->
<!--                    <span style="vertical-align: middle;">防爆破(fail2ban)：</span>-->
<!--                    <span class="inlineBlock ml10" style="vertical-align: middle;" id="fail2ban"></span>-->
<!--                </div>-->
            </div>
            <div class="intrusion-header" style="display: none">
                <div class="inlineBlock" style="height: 30px;">
                    <span style="vertical-align: middle;">入侵防御开关</span>
                    <div class="ssh-item" style="float: inherit;display: inline-block;vertical-align: middle;">
                        <input class="btswitch btswitch-ios" id="isIntrusion" type="checkbox" checked="" />
                        <label class="btswitch-btn isIntrusion" for="isIntrusion"></label>
                    </div>
                </div>
                <div class="inlineBlock mlr15 dividing-line"></div>
                <div class="inlineBlock" style="height: 30px;line-height: 30px; vertical-align: top;">
                    <span style="vertical-align: middle;">总拦截次数:</span>
                    <span class="inlineBlock ml10" style="vertical-align: middle;">
                        <span class="totlaDays"></span>
                    </span>
                </div>
                <div class="inlineBlock mlr15 dividing-line"></div>
                <div class="inlineBlock" style="height: 30px;line-height: 30px; vertical-align: top;">
                    <span style="vertical-align: middle;">保护天数:</span>
                    <span class="inlineBlock ml10" style="vertical-align: middle;">
                        <span class="totlaTimes"></span>
                    </span>
                </div>
            </div>
            <div class="system-header" style="display: none">
                <div class="inlineBlock" style="height: 30px;">
                    <span style="vertical-align: middle;">系统加固开关</span>
                    <div class="ssh-item" style="float: inherit;display: inline-block;vertical-align: middle;">
                        <input class="btswitch btswitch-ios" id="isReinforcement" type="checkbox" checked="" />
                        <label class="btswitch-btn isReinforcement" for="isReinforcement"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgw mtb15 pd15 tab-view-box firewall-tab-view">
            <div class="tab-con show w-full" id="safety" style="padding: 0">
                <div class="tab-nav-border">
                    <span class="on">端口规则：<i>0</i></span>
                    <span>IP规则：<i>0</i></span>
                    <span>端口转发：<i>0</i></span>
                    <span>地区规则：<i>0</i></span>
                </div>
                <div class="tab-con" style="padding-top: 15px;overflow: none;">
                    <div class="tab-block on" id="portRules"></div>
                    <div class="tab-block" id="ipRule"></div>
                    <div class="tab-block" id="portForward"></div>
                    <div class="tab-block" id="countryRegion"></div>
                </div>
            </div>
            <div class="tab-con hide" id="sshView">
                <div class="tab-nav-border">
                    <span class="on">基础设置</span>
                    <span>SSH登录日志</span>
                </div>
                <div class="tab-con" style="padding-top: 10px;overflow: none;">
                    <div class="tab-block on">
                        <div class="ssh-config">
                            <div class="ptb10">
                                <div class="line" title="SSH端口">
                                    <div class="line-title">SSH端口</div>
                                    <div class="line-input">
                                        <input type="text" class="bt-input-text" value="22" name="ssh_port" style="width: 120px;" />
                                        <button type="button" class="btn btn-success btn-sm ml5 save_ssh_port">保存</button>
                                    </div>
                                    <div class="line-row-tips">当前SSH协议所使用的的端口，默认为22</div>
                                </div>
                                <div class="line" title="允许root登录">
                                    <div class="line-title">允许root登录</div>
                                    <div class="line-item">
                                        <div class="line-row">
                                            <div class="ssh-item" style="margin-left: 0; margin-top: 5px;padding: 0;">
                                                <input class="btswitch btswitch-ios" id="root_login" type="checkbox" name="root_login">
                                                <label class="btswitch-btn" for="root_login" style="margin-bottom: 0;"></label>
                                            </div>
                                        </div>
                                        <div class="line-row-tips">是否允许root登录ssh</div>
                                    </div>
                                </div>
                                <div class="line" title="SSH密码登录">
                                    <div class="line-title">SSH密码登录</div>
                                    <div class="line-item">
                                        <div class="line-row">
                                            <div class="ssh-item" style="margin-left: 0; margin-top: 5px;padding: 0;">
                                                <input class="btswitch btswitch-ios" id="ssh_paw" type="checkbox" name="ssh_paw">
                                                <label class="btswitch-btn" for="ssh_paw" style="margin-bottom: 0;"></label>
                                            </div>
                                        </div>
                                        <div class="line-row-tips">SSH的默认登录方式</div>
                                    </div>
                                </div>
                                <div class="line" title="SSH密钥登录">
                                    <div class="line-title">SSH密钥登录</div>
                                    <div class="line-item">
                                        <div class="line-row">
                                            <div class="ssh-item" style="margin-left: 0; margin-top: 5px;padding: 0;">
                                                <input class="btswitch btswitch-ios" id="ssh_pubkey" type="checkbox" name="ssh_pubkey">
                                                <label class="btswitch-btn" for="ssh_pubkey" style="margin-bottom: 0;"></label>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-success btn-xs ml5 checkKey" style="vertical-align: initial;">查看密钥</button>
                                        <button type="button" class="btn btn-default btn-xs ml5 downloadKey" style="vertical-align: initial;">下载</button>
                                        <div class="line-row-tips">推荐使用密钥登录，关闭密码，安全性更高</div>
                                    </div>
                                </div>
                                <div class="line" title="SSH登录告警">
                                    <div class="line-title">SSH登录告警</div>
                                    <div class="line-item">
                                        <div class="line-row mr5">
																					<a href="javascript:;" class="bt_warning setSshLoginAlarm">告警通知未配置</a>
                                        </div>
                                        <button type="button" class="btn btn-success btn-xs ml5 setSshLoginAlarm" style="vertical-align: initial;">设置登录告警</button>
                                        <div class="line-row-tips">设置SSH登录告警，发生异常登录时，将实时推送告警消息至企业微信、钉钉、邮箱等告警通知</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-block">
                        <div id="loginLogsContent">
                            <div class="w-full">
                                <div id="loginAllLogs"></div>
                            </div>
                            <div class="w-full" style="display: none">
                                <div id="loginSuccessLogs"></div>
                            </div>
                            <div class="w-full" style="display: none">
                                <div id="loginErrorLogs"></div>
                            </div>
                        </div>
                        <div class="daily-thumbnail" style="display: none">
                            <div class="thumbnail-introduce">
                                <span>SSH登录日志</span>
                                <ul>
                                    <li>记录和查看当前SSH登录日志</li>
                                </ul>
                                <div class="daily-product-buy">
                                    <a href="javascript:;" class="btn btn-success va0 mr10 " onclick="product_recommend.pay_product_sign('ltd',100,'ltd')">立即购买</a>
                                </div>
                            </div>
                            <div class="thumbnail-box">
                                <ul class="thumbnail-tab">
                                    <li class="on">SSH登录日志</li>
                                </ul>
                                <div class="thumbnail-item show">
                                    <div class="pluginTipsGg" style="background-image: url('/static/img/ssh/1.png');"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-con hide" id="intrusion">
                <div class="tab-nav-border">
                    <span class="on">概览</span>
                    <span>进程白名单</span>
                    <span>拦截日志</span>
                    <span>操作日志</span>
                </div>
                <div class="tab-con" style="padding: 15px 0;overflow: none;">
                    <div class="tab-block on">
                        <div id="antiOverviewList"></div>
                        <ul class="help-info-text c7">
                            <li>开启防提权，系统会针对该用户操作命令进行限制，并记录跟踪</li>
                            <li>不开启防提权，系统只针对该用户操作过的命令做记录跟踪</li>
                            <li>目前防提权默认只针对www,redis,mysql操作引起的提权问题进行处理</li>
                            <li style="color:red">消息推送需要更新至最新面板的版本(2020-06-17日之后安装的版本|或者2020-06-17日之后点击过修复面板)</li>
                        </ul>
                    </div>
                    <div class="tab-block">
                        <div id="antiProcessWhiteList"></div>
                    </div>
                    <div class="tab-block">
                        <div id="antiInterceptLog"></div>
                    </div>
                    <div class="tab-block">
                        <div id="antiOperationLog"></div>
                    </div>
                </div>
                <div class="installSoft" style="display: none">
                    <div class="daily-thumbnail">
                        <div class="thumbnail-introduce">
                            <span>入侵防御功能介绍</span>
                            <ul>
                                <li>阻止程序挂马</li>
                                <li>阻止挖矿病毒</li>
                                <li>webshell提权</li>
                            </ul>
                            <div class="daily-product-buy">
                                <a class="btn btn-default mr10" title="产品预览" href="https://www.bt.cn/bbs/thread-50998-1-1.html" target="_blank">产品预览</a>
                                <a href="javascript:;" class="btn btn-success va0 mr10 installIntrusion">立即安装</a>
                                <a href="javascript:;" class="btn btn-success va0 ml15 buyIntrusion" onclick="product_recommend.pay_product_sign('ltd',101,'ltd')">立即购买</a>
                            </div>
                        </div>
                        <div class="thumbnail-box">
                            <ul class="thumbnail-tab">
                                <li class="on">概览</li>
                                <li>进程白名单</li>
                                <li>拦截日志</li>
                                <li>操作日志</li>
                            </ul>
                            <div class="thumbnail-item show">
                                <div class="pluginTipsGg" style="background-image: url(/static/img/intrusion/1.png);"></div>
                            </div>
                            <div class="thumbnail-item">
                                <div class="pluginTipsGg" style="background-image: url(/static/img/intrusion/2.png);"></div>
                            </div>
                            <div class="thumbnail-item">
                                <div class="pluginTipsGg" style="background-image: url(/static/img/intrusion/3.png);"></div>
                            </div>
                            <div class="thumbnail-item">
                                <div class="pluginTipsGg" style="background-image: url(/static/img/intrusion/4.png);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-con hide" id="system">
                <div class="tab-nav-border">
                    <span class="on">防护配置</span>
                    <span>封锁IP</span>
                    <span>操作日志</span>
                </div>
                <div class="tab-con" style="padding: 15px 0;overflow: none;">
                    <div class="tab-block on">
                        <div id="reinforceSystem"></div>
                        <ul class="help-info-text c7">
                            <li>【异常进程监控】与【SSH服务加固】会占用一定服务器开销</li>
                            <li>开启系统加固功能后，一些如软件安装等敏感操作将被禁止</li>
                            <li>开启【SSH服务加固】之后，用户登录SSH的行为将受到监控，若连续多次登录失败，将采取封IP措施</li>
                            <li style="color:red;">【注意】如果您需要安装软件或插件，请先将系统加固关闭!</li>
                        </ul>
                    </div>
                    <div class="tab-block">
                        <div>
                            <input class="bt-input-text" name="system_address" type="text" value="" placeholder="IP地址" style="width: 250px; margin-right: 6px;" />
                            <button class="btn btn-success btn-sm system_add_ip">添加</button>
                        </div>
                        <div id="reinforceBlockIp"></div>
                        <ul class="help-info-text c7">
                            <li>【封锁IP】此处封锁的IP仅针对SSH服务，即被封锁的IP将无法连接SSH</li>
                            <li>【添加】手动添加的IP封锁只能手动解封!</li>
                        </ul>
                    </div>
                    <div class="tab-block">
                        <div id="reinforceLog"></div>
                        <div id="reinforceLogPage" class="page"></div>
                    </div>
                </div>
                <div class="installSoft" style="display: none">
                    <div class="daily-thumbnail">
                        <div class="thumbnail-introduce">
                            <span>系统加固功能介绍</span>
                            <ul>
                                <li>阻止系统被植入木马</li>
                                <li>加固系统安全配置</li>
                            </ul>
                            <div class="daily-product-buy">
<!--                                <a class="btn btn-default mr10" title="产品预览" href="https://www.bt.cn/bbs/thread-50998-1-1.html" target="_blank">产品预览</a>-->
                                <a href="javascript:;" class="btn btn-success va0 mr10 installSystem">立即安装</a>
                                <a href="javascript:;" class="btn btn-success va0 ml15 buySystem" onclick="product_recommend.pay_product_sign('ltd',102,'ltd')">立即购买</a>
                            </div>
                        </div>
                        <div class="thumbnail-box">
                            <ul class="thumbnail-tab">
                                <li class="on">防护配置</li>
                                <li>封锁IP</li>
                                <li>操作日志</li>
                            </ul>
                            <div class="thumbnail-item show">
                                <div class="pluginTipsGg" style="background-image: url('/static/img/system/1.png');"></div>
                            </div>
                            <div class="thumbnail-item">
                                <div class="pluginTipsGg" style="background-image: url('/static/img/system/2.png');"></div>
                            </div>
                            <div class="thumbnail-item">
                                <div class="pluginTipsGg" style="background-image: url('/static/img/system/3.png');"></div>
                            </div>
                            <div class="thumbnail-item">
                                <div class="pluginTipsGg" style="background-image: url('/static/img/system/4.png');"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-con hide" id="logAudit">
                <div class="logAuditTabContent">
                    <div class="logAuditTab"></div>
                    <div class="logAuditContent">
                        <div id="logAuditTable"></div>
                        <div id="logAuditPages" class="page" style="display: flex;justify-content: flex-end"></div>
                        <div id="logAuditPre" style="display: none;"></div>
                    </div>
                </div>
                <div class="daily-thumbnail" style="display: none">
                    <div class="thumbnail-introduce">
                        <span>日志审计</span>
                        <ul>
                            <li>对当前服务的各种日志进行采集分析和存储管理</li>
                        </ul>
                        <div class="daily-product-buy">
                            <a href="javascript:;" class="btn btn-success va0 mr10 " onclick="product_recommend.pay_product_sign('ltd',103,'ltd')">立即购买</a>
                        </div>
                    </div>
                    <div class="thumbnail-box">
                        <ul class="thumbnail-tab">
                            <li class="on">日志审计</li>
                        </ul>
                        <div class="thumbnail-item show">
                            <div class="pluginTipsGg" style="background-image: url('/static/img/logAudit/1.png');"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-con hide" id="logsBody">
                <div class="tab-nav-border">
                    <span class="on">操作日志</span>
                    <span>运行日志</span>
                </div>
                <div class="tab-con" style="padding-top: 15px;overflow: none;">
                    <div class="tab-block on">
                        <div id="operationLog"></div>
                    </div>
                    <div class="tab-block">
                        <div id="runningLog"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ static_url }}static/js/firewall.js"></script>
{% endblock %}
