.bingfa{
	padding:10px 0 70px 0;
}
.bingfa p {
    margin-bottom: 10px;
    color: #666;
}
.bingfa p .span_tit {
	display:inline-block;
    text-align: right;
    width: 120px;
}
.bingfa p input{
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	border-radius: 3px;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bingfa p input:focus,.bingfa p input:active{
	border: #66afe9 1px solid;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.bingfa  .submit-btn {
    background: #f6f8f8 none repeat scroll 0 0;
    border-top: 1px solid #edf1f2;
    bottom: 0;
    left: 0;
    padding: 8px 20px 10px;
    position: absolute;
    text-align: right;
    width: 100%;
}