body{
    line-height:1.4;
    color:#333;
    font-family:"微软雅黑", Arial, Helvetica, sans-serif;
    font-size: 12px;
}
input,textarea,select{
    font-size:100%;    
    font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
h4,h5,h6{
    font-size:1em;
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}
fieldset,img{border:0;}
a{
 color:#333;
 border:0;
 text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0);	
	-webkit-touch-callout: none;
}
:-moz-placeholder {
    color: #999;
}
::-moz-placeholder {
    color: #999;
}
input:-ms-input-placeholder{
    color: #999;
}
input::-webkit-input-placeholder{
    color: #999;
}